<tr>
    <th scope="row" colspan="2" class="text-right">
        Platoon Commander
    </th>
    <td colspan="2" class="text-left">
        @(Platoon.Commander?.Rank.AsFull() + " " ?? "")@(Platoon.Commander?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Platoon Sergeant-Major
    </th>
    <td colspan="2" class="text-left">
        @(Platoon.SergeantMajor?.Rank.AsFull() + " " ?? "")@(Platoon.SergeantMajor?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Platoon Medic
    </th>
    <td colspan="2" class="text-left">
        @(Platoon.Medic?.Rank.AsFull() + " " ?? "")@(Platoon.Medic?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Platoon RT
    </th>
    <td colspan="2" class="text-left">
        @(Platoon.RT?.Rank.AsFull() + " " ?? "")@(Platoon.RT?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Platoon ARC
    </th>
    <td colspan="2" class="text-left">
        @(Platoon.ARC?.Rank.AsFull() + " " ?? "")@(Platoon.ARC?.NickName ?? "TBD")
    </td>
</tr>

@code {
    [Parameter]
    public PlatoonData Platoon { get; set; }
}
