@page "/manager/settings"
@inject IWebsiteSettingsService _settings
@inject IRosterService _roster
<DynamicAuthorizeView SectionName="Manager Settings">
    <Authorized>
        <BreadcrumbsList Url="Urls" />
        <h3>Manager Settings</h3>
        <hr />
        <ul class="nav nav-tabs row">
            <li class="nav-item col">
                <button class="nav-link w-100 h-100 @(Active == ManagerDisplayOption.CShops ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(ManagerDisplayOption.CShops)">C-Shop Config</button>
            </li>
            <li class="nav-item col">
                <button class="nav-link w-100 h-100 @(Active == ManagerDisplayOption.Discord ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(ManagerDisplayOption.Discord)">Discord Config</button>
            </li>
            <li class="nav-item col">
                <button class="nav-link w-100 h-100 @(Active == ManagerDisplayOption.Promotions ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(ManagerDisplayOption.Promotions)">Promotion Requirements</button>
            </li>
            <li class="nav-item col">
                <button class="nav-link w-100 h-100 @(Active == ManagerDisplayOption.Settings ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(ManagerDisplayOption.Settings)">Override Settings</button>
            </li>
        </ul>
        <div class="tab-content">
            @switch(Active)
            {
                case ManagerDisplayOption.CShops:
                    <CShopClaimSettingDisplay />
                    break;
                case ManagerDisplayOption.Discord:
                    <RoleBindingSettingDisplay />
                    break;
                case ManagerDisplayOption.Promotions:
                    <PromotionRequirementSettingDisplay />
                    break;
                case ManagerDisplayOption.Settings:
                    <hr />
                    <div class="row">
                        <div class="col d-grid gap-2">
                            <!-- Cruisie Changes The Buttons -->
                            <div class="input-group">
                                <div class="input-group-text bg-success">
                                    <input type="checkbox" class="form-check-input mt-0" bind="@IsAcknowledgedDWS" @onchange="@((args) => IsAcknowledgedDWS = (bool)args.Value)" />
                                </div>
                                <button class="btn btn-primary" disabled="@(IsAcknowledgedDWS?false:true)" @onclick="async (x) => await _settings.SetDefaultSettingsAsync()">Set Default Website Settings</button>
                            </div>
                            <div class="input-group">
                                <div class="input-group-text bg-danger">
                                    <input type="checkbox" class="form-check-input mt-0" bind="@IsAcknowledgedVTR" @onchange="@((args) => IsAcknowledgedVTR = (bool)args.Value)" />
                                </div>
                                <button class="btn btn-secondary" disabled="@(IsAcknowledgedVTR?false:true)" @onclick="async (x) => await _roster.ValidateArchivedTroopersAsync()">Validate Archived Trooper Roles</button>
                            </div>
                        </div>
                    </div>
                    break;
            }
        </div>

    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</DynamicAuthorizeView>