<tr>
    <td>@Trooper.BirthNumber</td>
    <td>@Trooper.NickName @Trooper.BirthdayCake()</td>
    <td>@Trooper.RecruitStatus?.PreferredRole.AsFull()</td>
    <td class="d-none d-md-table-cell">@((int)DateTime.Now.Subtract(Trooper.StartOfService).TotalDays) DAY(S)</td>
    <td>
        <a href="/trooper/@Trooper.BirthNumber" class="oi oi-arrow-circle-right btn btn-outline-primary" aria-hidden="true"></a>
    </td>
</tr>