<tr>
    <td>
        <RankDisplay Trooper="Trooper" />
    </td>
    <td>
        @Trooper.Id
    </td>
    <td>
        @Trooper.NickName
    </td>
    <td>
        @if(Trooper.Slot >= Slot.Razor && Trooper.Slot < Slot.Warden)
        {
            @Trooper.PilotRank?.AsFull()
        }
        else if (Trooper.Slot >= Slot.Warden && Trooper.Slot < Slot.ZetaCompany)
        {
            @Trooper.WardenRank?.AsFull()
        }
        else if (Trooper.WarrantRank is not null)
        {
            @Trooper.WarrantRank?.AsFull()
        }
        else
        {
            @Trooper.Rank?.AsFull()
        }
    </td>
    <td>
        @Trooper.Slot.AsFull()
    </td>
    <td>
        @Trooper.GetRoleName()
    </td>
    <td>
        @((int)DateTime.Now.Subtract(Trooper.LastPromotion).TotalDays) DAY(S)
    </td>
    <td>
        @((int)DateTime.Now.Subtract(Trooper.StartOfService).TotalDays) DAY(S)
    </td>
    <td>
        <a href="/trooper/@Trooper.Id" class="oi oi-arrow-circle-right btn btn-outline-primary" aria-hidden="true"></a>
    </td>
    <AuthorizeView Policy="RequireRosterClerk">
        <Authorized>
            <td>
                <a href="/c1/roster/edit?edit=@Trooper.Id" class="oi oi-pencil btn btn-outline-primary" aria-hidden="true"></a>
            </td>
        </Authorized>
    </AuthorizeView>
</tr>

@code {
    [Parameter]
    public Trooper Trooper { get; set; }
}
