<tr>
    <td class="d-none d-xl-table-cell">
        <RankDisplay Trooper="Trooper" />
    </td>
    <td>
        @Trooper.Id
    </td>
    <td>
        @Trooper.NickName
    </td>
    <td class="d-none d-md-table-cell">
        @Trooper.GetRankName()
    </td>
    <td class="d-none d-md-table-cell">
        @Trooper.Slot.AsFull()
    </td>
    <td class="d-none d-md-table-cell">
        @Trooper.GetRoleName()
    </td>
    <td class="d-none d-lg-table-cell">
        @((int)DateTime.Now.Subtract(Trooper.LastPromotion).TotalDays) DAY(S)
    </td>
    <td class="d-none d-xl-table-cell">
        @((int)DateTime.Now.Subtract(Trooper.StartOfService).TotalDays) DAY(S)
    </td>
    <td>
        <a href="/trooper/@Trooper.Id" class="oi oi-arrow-circle-right btn btn-outline-primary" aria-hidden="true"></a>
    </td>
    <AuthorizeView Policy="RequireRosterClerk">
        <Authorized>
            <td class="d-none d-lg-table-cell">
                <a href="/c1/roster/edit?edit=@Trooper.Id" class="oi oi-pencil btn btn-outline-primary" aria-hidden="true"></a>
            </td>
        </Authorized>
    </AuthorizeView>
</tr>

@code {
    [Parameter]
    public Trooper Trooper { get; set; }
}
