@inject IRefreshRequestService _refresh
@implements IDisposable

<EditForm Model="Search" class="form form-inline w-100">
    <div class="row">
        <div class="col col-xl-4 p-1 d-none d-xl-block">
            <div class="input-group">
                <button class="@GetSortButtonClass(0) oi btn input-group-text" aria-hidden="true" @onclick="(x) => OnSearchDirectionChanged(0)"></button>
                <InputText class="form-control" placeholder="Designation" @bind-Value="d1" id="designation-filter" @oninput="OnDesgChange" />
            </div>
        </div>
        <div class="col-12 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-1">
            <div class="input-group">
                <button class="@GetSortButtonClass(1) oi btn input-group-text" aria-hidden="true" @onclick="(x) => OnSearchDirectionChanged(1)"></button>
                <InputText class="form-control" placeholder="Birth #" @bind-Value="d2" id="id-roster-filter" @oninput="OnIdChange" />
            </div>
        </div>
        <div class="col-12 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 p-1">
            <div class="input-group">
                <button class="@GetSortButtonClass(2) oi btn input-group-text" aria-hidden="true" @onclick="(x) => OnSearchDirectionChanged(2)"></button>
                <InputText class="form-control p-1" placeholder="Nickname" @bind-Value="d3" id="nickname-filter" @oninput="OnNickChange" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-4 col-md-12 p-1 d-none d-md-block">
            <div class="input-group">
                <button class="@GetSortButtonClass(3) oi btn input-group-text" aria-hidden="true" @onclick="(x) => OnSearchDirectionChanged(3)"></button>
                @if(!Search.UseRankSearch)
                {
                    <InputSelect @bind-Value="Search.RankFilter" @oninput="OnRankChange" class="form-control form-inline p-1">
                        <option value="null">Rank</option>
                        @foreach(TrooperRank r in Enum.GetValues(typeof(TrooperRank)))
                        {
                            <option value="@((int)r)">@r.AsFull()</option>
                        }
                        @foreach(MedicRank r in Enum.GetValues(typeof(MedicRank)))
                        {
                            <option value="@((int)r)">@r.AsFull()</option>
                        }
                        @foreach(RTORank r in Enum.GetValues(typeof(RTORank)))
                        {
                            <option value="@((int)r)">@r.AsFull()</option>
                        }
                        @foreach(WarrantRank r in Enum.GetValues(typeof(WarrantRank)))
                        {
                            <option value="@((int)r)">@r.AsFull()</option>
                        }
                        @foreach(PilotRank r in Enum.GetValues(typeof(PilotRank)))
                        {
                            <option value="@((int)r)">@r.AsFull()</option>
                        }
                        @foreach(WardenRank r in Enum.GetValues(typeof(WardenRank)))
                        {
                            <option value="@((int)r)">@r.AsFull()</option>
                        }

                    </InputSelect>
                    <button class="oi oi-text btn input-group-text" @onclick="(x) => Search.UseRankSearch = true" aria-hidden="true"></button>
                }
                else
                {
                    <InputText class="form-control p-1" placeholder="Rank" @bind-Value="d4" id="rank-filter" @oninput="OnRankSearchChange" />
                    <button class="oi oi-tags btn input-group-text" @onclick="(x) => Search.UseRankSearch = false" aria-hidden="true"></button>
                }
            </div>
        </div>
        <div class="col col-lg-4 col-md-12 p-1 d-none d-md-block">
            <div class="input-group">
                <button class="@GetSortButtonClass(4) oi btn input-group-text" aria-hidden="true" @onclick="(x) => OnSearchDirectionChanged(4)"></button>
                @if(!Search.UseUnitSearch)
                {
                    <InputSelect @bind-Value="Search.UnitFilter" @oninput="OnUnitChange" class="form-control form-inline p-1">
                        <option value="null">Unit</option>
                        @foreach(Slot r in Enum.GetValues(typeof(Slot)))
                        {
                            <option value="@r">@r.AsFull()</option>
                        }
                    </InputSelect>
                    <button class="oi oi-text btn input-group-text" @onclick="(x) => Search.UseUnitSearch = true" aria-hidden="true"></button>
                }
                else
                {
                    <InputText class="form-control p-1" placeholder="Unit" @bind-Value="d5" id="rank-filter" @oninput="OnUnitSearchChange" />
                    <button class="oi oi-tags btn input-group-text" @onclick="(x) => Search.UseUnitSearch = false" aria-hidden="true"></button>
                }
            </div>
        </div>
        <div class="col col-lg-4 col-md-12 p-1 d-none d-md-block">
            <div class="input-group">
                <button class="@GetSortButtonClass(5) oi btn input-group-text" aria-hidden="true" @onclick="(x) => OnSearchDirectionChanged(5)"></button>
                @if(!Search.UseRoleSearch)
                {
                    <InputSelect @bind-Value="Search.RoleFilter" @oninput="OnRoleChange" class="form-control form-inline p-1">
                        <option value="null">Role</option>
                        @foreach(Role r in Enum.GetValues(typeof(Role)))
                        {
                            <option value="@r">@r.AsFull()</option>
                        }
                    </InputSelect>
                    <button class="oi oi-text btn input-group-text" @onclick="(x) => Search.UseRoleSearch = true" aria-hidden="true"></button>
                }
                else
                {
                    <InputText class="form-control p-1" placeholder="Role" @bind-Value="d6" id="rank-filter" @oninput="OnRoleSearchChange" />
                    <button class="oi oi-tags btn input-group-text" @onclick="(x) => Search.UseRoleSearch = false" aria-hidden="true"></button>
                }
            </div>
        </div>
    </div>
</EditForm>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col" class="w-5 d-none d-xl-table-cell">Designation</th>
            <th scope="col">Birth #</th>
            <th scope="col">Nickname</th>
            <th scope="col" class="d-none d-md-table-cell">Rank</th>
            <th scope="col" class="d-none d-md-table-cell">Unit</th>
            <th scope="col" class="d-none d-md-table-cell">Role</th>
            <th scope="col" class="d-none d-lg-table-cell">TiG</th>
            <th scope="col" class="d-none d-xl-table-cell">TiS</th>
            <td scope="col"></td>
            <DynamicAuthorizeView SectionName="Roster Row Edit Button" IsPage="false">
                <Authorized>
                    <td scope="col" class="d-none d-lg-table-cell"></td>
                </Authorized>
            </DynamicAuthorizeView>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in Filtered)
        {
            <RosterListingRow Trooper="t" />
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Trooper> Troopers { get; set; } = new();
    private List<Trooper> Filtered { get; set; } = new();

    private string d1 { get; set; } = "";
    private string d2 { get; set; } = "";
    private string d3 { get; set; } = "";
    private string d4 { get; set; } = "";
    private string d5 { get; set; } = "";
    private string d6 { get; set; } = "";

    private RosterSearch Search { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        _refresh.RefreshRequested += RefreshMe;

        await BuildFilteredList();
    }

    private void RefreshMe()
    {
        InvokeAsync(() => StateHasChanged());
    }

    public Task BuildFilteredList()
    {
        Filtered = Troopers;

        if(!string.IsNullOrWhiteSpace(Search.DesignationFilter))
        {
            Filtered = Filtered.Where(x => 
            {
                if(x.Role == Role.RTO)
                {
                    return x.RTORank?.AsShorthand().StartsWith(Search.DesignationFilter, StringComparison.OrdinalIgnoreCase) ?? false;
                }
                else if(x.Slot >= Slot.Razor && x.Slot < Slot.Warden)
                {
                    return x.PilotRank?.AsShorthand().StartsWith(Search.DesignationFilter, StringComparison.OrdinalIgnoreCase) ?? false;
                }
                else if(x.Role == Role.Medic)
                {
                    return x.MedicRank?.AsShorthand().StartsWith(Search.DesignationFilter, StringComparison.OrdinalIgnoreCase) ?? false;
                }
                else if (x.Slot >= Slot.Warden && x.Slot < Slot.ZetaCompany)
                {
                    return x.WardenRank?.AsShorthand().StartsWith(Search.DesignationFilter, StringComparison.OrdinalIgnoreCase) ?? false;
                }
                else if(x.WarrantRank is not null)
                {
                    return x.WarrantRank?.AsShorthand().StartsWith(Search.DesignationFilter, StringComparison.OrdinalIgnoreCase) ?? false;
                }
                else
                {
                    return x.Rank?.AsShorthand().StartsWith(Search.DesignationFilter, StringComparison.OrdinalIgnoreCase) ?? false;
                }
            }).ToList();
        }

        if(!string.IsNullOrWhiteSpace(Search.NickNameFilter))
        {
            Filtered = Filtered.Where(x => x.NickName.StartsWith(Search.NickNameFilter, StringComparison.OrdinalIgnoreCase)).ToList();
        }

        if(!string.IsNullOrWhiteSpace(Search.IdFilter))
        {
            Filtered = Filtered.Where(x => x.BirthNumber.ToString().StartsWith(Search.IdFilter, StringComparison.OrdinalIgnoreCase)).ToList();
        }

        if(Search.UseRankSearch)
        {
            if(!string.IsNullOrWhiteSpace(Search.RankSearch))
            {
                Filtered = Filtered.Where(x => x.GetRankName().StartsWith(Search.RankSearch, StringComparison.OrdinalIgnoreCase)).ToList();
            }
        }
        else
        {
            if(Search.RankFilter is not null)
            {
                Filtered = Filtered.Where(x =>
                {
                    int Rank = (int)Search.RankFilter;
                    
                    if (Rank < 100)
                    {
                        return x.Rank == (TrooperRank)Rank;                    
                    }
                    else if (Rank >= 100 && Rank < 200)
                    {
                        return x.MedicRank == (MedicRank)Rank;
                    }
                    else if (Rank >= 200 && Rank < 300)
                    {
                        return x.RTORank == (RTORank)Rank;
                    }
                    else if (Rank >= 300 && Rank < 400)
                    {
                        return x.WarrantRank == (WarrantRank)Rank;
                    }
                    else if (Rank >= 400 && Rank < 500)
                    {
                        return x.PilotRank == (PilotRank)Rank;
                    }
                    else if (Rank >= 500)
                    {
                        return x.WardenRank == (WardenRank)Rank;
                    }
                    else
                    {
                        return false;
                    }
                }).ToList();   
            }
        }

        if (Search.UseUnitSearch)
        {
            if (!string.IsNullOrWhiteSpace(Search.UnitSearch))
            {
                Filtered = Filtered.Where(x => x.Slot.AsFull().StartsWith(Search.UnitSearch, StringComparison.OrdinalIgnoreCase)).ToList();
            }
        }
        else
        {
            if (Search.UnitFilter is not null)
            {
                Filtered = Filtered.Where(x => x.Slot == Search.UnitFilter).ToList();
            }
        }

        if (Search.UseRoleSearch)
        {
            if (!string.IsNullOrWhiteSpace(Search.RoleSearch))
            {
                Filtered = Filtered.Where(x => x.GetRoleName().StartsWith(Search.RankSearch, StringComparison.OrdinalIgnoreCase)).ToList();
            }
        }
        else
        {
            if (Search.RoleFilter is not null)
            {
                Filtered = Filtered.Where(x => x.Role == Search.RoleFilter).ToList();
            }
        }

        if (Search.Ascending)
        {
            switch(Search.SortByColumn)
            {
                case 0:
                    Filtered.Sort((x, y) => x.GetRankDesignation().CompareTo(y.GetRankDesignation()));
                    break;
                case 2:
                    Filtered.Sort((x, y) => x.NickName.CompareTo(y.NickName));
                    break;
                case 3:
                    Filtered.Sort((x, y) =>
                    {
                        if (x.Rank is null && y.Rank is null)
                        {
                            return x.GetRankName().CompareTo(y.GetRankName());
                        }

                        if (x.Rank is null) return -1;
                        if (y.Rank is null) return 1;

                        return x.Rank.Value.CompareTo(y.Rank.Value);
                    });
                    break;
                case 4:
                    Filtered.Sort((x, y) => x.Slot.CompareTo(y.Slot));
                    break;
                case 5:
                    Filtered.Sort((x, y) => x.GetRoleName().CompareTo(y.GetRoleName()));
                    break;
                case 1:
                default:
                    Filtered.Sort((x, y) => x.Id.CompareTo(y.Id));
                    break;
            }
        }
        else
        {
            switch(Search.SortByColumn)
            {
                case 0:
                    Filtered.Sort((x, y) => y.GetRankDesignation().CompareTo(x.GetRankDesignation()));
                    break;
                case 2:
                    Filtered.Sort((x, y) => y.NickName.CompareTo(x.NickName));
                    break;
                case 3:
                    Filtered.Sort((x, y) =>
                    {
                        if (x.Rank is null && y.Rank is null)
                        {
                            return y.GetRankName().CompareTo(x.GetRankName());
                        }

                        if (y.Rank is null) return -1;
                        if (x.Rank is null) return 1;

                        return y.Rank.Value.CompareTo(x.Rank.Value);
                    });
                    break;
                case 4:
                    Filtered.Sort((x, y) => y.Slot.CompareTo(x.Slot));
                    break;
                case 5:
                    Filtered.Sort((x, y) => y.GetRoleName().CompareTo(x.GetRoleName()));
                    break;
                case 1:
                default:
                    Filtered.Sort((x, y) => y.Id.CompareTo(x.Id));
                    break;
            }
        }

        _refresh.CallRequestRefresh();

        return Task.CompletedTask;
    }

    private Task OnSearchDirectionChanged(int col)
    {
        if(col == Search.SortByColumn)
            Search.Ascending = !Search.Ascending;
        else
        {
            Search.SortByColumn = col;
            Search.Ascending = true;
        }

        return BuildFilteredList();
    }

    public Task OnDesgChange(ChangeEventArgs e)
    {
        Search.DesignationFilter = (string?)e.Value ?? "";

        return BuildFilteredList();
    }

    public Task OnIdChange(ChangeEventArgs e)
    {
        Search.IdFilter = (string?)e.Value ?? "";

        return BuildFilteredList();
    }

    public Task OnNickChange(ChangeEventArgs e)
    {
        Search.NickNameFilter = (string?)e.Value ?? "";

        return BuildFilteredList();
    }

    public Task OnRankChange(ChangeEventArgs e)
    {
        var val = ((string?)e.Value) ?? "";
        
        if(val == "null") Search.RankFilter = null;
        else Search.RankFilter = Int32.Parse(val);

        return BuildFilteredList();
    }

    public Task OnRankSearchChange(ChangeEventArgs e)
    {
        Search.RankSearch = (string?)e.Value ?? "";

        return BuildFilteredList();
    }

    public Task OnUnitChange(ChangeEventArgs e)
    {
        var val = ((string?)e.Value) ?? "";

        if(val == "null") Search.UnitFilter = null;
        else Search.UnitFilter = val.ValueFromString<Slot>();

        return BuildFilteredList();
    }

    public Task OnUnitSearchChange(ChangeEventArgs e)
    {
        Search.UnitSearch = (string?)e.Value ?? "";

        return BuildFilteredList();
    }

    public Task OnRoleChange(ChangeEventArgs e)
    {
        var val = ((string?)e.Value) ?? "";

        if(val == "null") Search.RoleFilter = null;
        else Search.RoleFilter = val.ValueFromString<Role>();

        return BuildFilteredList();
    }

    public Task OnRoleSearchChange(ChangeEventArgs e)
    {
        Search.RoleSearch = (string?)e.Value ?? "";

        return BuildFilteredList();
    }

    public string GetSortButtonClass(int col)
    {
        if (col == Search.SortByColumn)
            return Search.Ascending ? "oi-chevron-top" : "oi-chevron-bottom";
        else return "oi-menu";
    }

    public void Dispose()
        => _refresh.RefreshRequested -= RefreshMe;
}
