<tr>
    <td class="d-none d-xl-table-cell">
        <RankDisplay Trooper="Trooper" />
    </td>
    <td>
        @Trooper.BirthNumber
    </td>
    <td>
        @Trooper.NickName @Trooper.BirthdayCake()
    </td>
    <td class="d-none d-md-table-cell">
        @Trooper.GetRankName()
    </td>
    <td class="d-none d-md-table-cell">
        @Trooper.Slot.AsFull()
    </td>
    <td class="d-none d-md-table-cell">
        @Trooper.GetRoleName()
    </td>
    <td class="d-none d-lg-table-cell">
        @((int)DateTime.UtcNow.Subtract(Trooper.LastPromotion).TotalDays) DAY(S)
    </td>
    <td class="d-none d-xl-table-cell">
        @((int)DateTime.UtcNow.Subtract(Trooper.StartOfService).TotalDays) DAY(S)
    </td>
    <td>
        <a href="/trooper/@Trooper.BirthNumber" class="oi oi-arrow-circle-right btn btn-outline-primary" aria-hidden="true"></a>
    </td>
    <DynamicAuthorizeView SectionName="Roster Row Edit Button" IsPage="false">
        <Authorized>
            <td class="d-none d-lg-table-cell">
                <a href="/c1/roster/edit?edit=@Trooper.Id" class="oi oi-pencil btn btn-outline-primary" aria-hidden="true"></a>
            </td>
        </Authorized>
    </DynamicAuthorizeView>
</tr>

@code {
    [Parameter]
    public Trooper Trooper { get; set; }
}
