@using FiveOhFirstDataCore.Core.Structures.Updates
@inject IRosterService _roster
@inject IRefreshRequestService _refresh
@inject IAuthorizationService _auth

@if(Trooper is not null)
{
<div class="row w-100">
    <div class="col-md-3 col-sm-12 text-center align-content-center">
        <div class="row">
            <div class="col text-center">
                @*Trooper Basic Details*@
                <h4><RankDisplay Trooper="Trooper" /> @Trooper.Id @Trooper.NickName</h4>
                <div class="row w-100">
                    <div class="col-lg-6 col-md-12">
                        <table class="w-100">
                            <tr>
                                <th scope="col" class="w-50">
                                    TiS
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @ServiceStrings[1]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @ServiceStrings[3] DAY(S)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <table class="w-100">
                            <tr>
                                <th scope="col" class="w-50">
                                    TiG
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @ServiceStrings[0]
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @ServiceStrings[2] DAY(S)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col text-center">
                @*Slot Details*@
                <table class="w-100">
                    <tr>
                        <th>@Trooper.Slot.AsFull()</th>
                    </tr>
                    <tr>
                        <th>TiB</th>
                    </tr>
                    <tr>
                        <td>@ServiceStrings[4]</td>
                    </tr>
                    <tr>
                        <td>@ServiceStrings[5] DAY(S)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <div class="row">
            @*Trooper Full Details*@
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col">
                        <h5 class="text-center">C-Shops</h5>
                        <div class="list-group">
                            @foreach(CShop shop in Enum.GetValues(typeof(CShop)))
                            {
                                if (shop != CShop.None && (Trooper.CShops & shop) == shop)
                                {
                                    <div class="list-group-item">
                                        <strong class="mb-1">@shop.AsFull()</strong>
                                        @if(ShopPositions.TryGetValue(shop, out var positions))
                                        {
                                            <ul class="mb-1">
                                            @foreach(var pos in positions)
                                            {
                                                <li class="mb-1">@pos.Key @pos.Value</li>
                                            }
                                            </ul>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
                <h5>Qualifications</h5>
                <ul class="list-group">
                    @foreach(Qualification qual in Enum.GetValues(typeof(Qualification)))
                    {
                        if (qual != Qualification.None)
                        {
                            <li class="list-group-item @((Trooper.Qualifications & qual) == qual ? "bg-success text-light" : "disabled")">@qual.AsFull()</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <AuthorizeView Policy="RequireNCO">
            <Authorized>
                @if (LoadedAdditional)
                {
                <div class="row">
                    @*NCO Box*@
                    <div class="col-lg-6 col-md-12">
                        <strong>Disciplinary Actions</strong>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Filed By</th>
                                    <th>Occoured On</th>
                                    <th>Situation</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tboday>
                                @foreach (var da in Trooper.DisciplinaryActions)
                                {
                                    <tr>
                                        <td>@(da.FiledBy?.NickName ?? da.FiledById.ToString())</td>
                                        <td>@da.OccouredOn.ToString("g")</td>
                                        <td>@da.Situation</td>
                                        <td><a href="" class="oi oi-arrow-circle-right" aria-hidden="true"></a></td>
                                    </tr>
                                }
                            </tboday>
                        </table>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <strong>Flags</strong>
                        <EditForm Context="flagFormContext" class="form form-inline" Model="Flag">
                            <table class="table table-hover">
                                <thead>
                                    @if((LoggedIn?.Id ?? 0) != Trooper.Id)
                                    {
                                    <tr>
                                        <td colspan="2">
                                            <InputText @bind-Value="Flag.Contents" class="form-control" placeholder="Flag Contents" />
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" @onclick="SaveFlag">Save</button>
                                        </td>
                                    </tr>
                                    }
                                    <tr>
                                        <th>Author</th>
                                        <th>Date</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var flag in Trooper.Flags)
                                    {
                                        <tr>
                                            <td>@(flag.Author?.NickName ?? flag.AuthorId.ToString())</td>
                                            <td>@flag.CreatedOn.ToString("g")</td>
                                            <td>@flag.Contents</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </EditForm>
                    </div>
                </div>
                }
            </Authorized>
        </AuthorizeView>
    </div>
</div>
}
else
{
    <em>Something went wrong, and a trooper was unabled to be loaded. Go <a href="/">home</a>.</em>
}

@code {
    [Parameter]
    public Trooper Trooper { get; set; }
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private Dictionary<CShop, List<ClaimUpdate>> ShopPositions { get; set; } = new();

    public string[] ServiceStrings = new string[6];

    private TrooperFlag Flag { get; set; } = new();
    private bool LoadedAdditional { get; set; } = false;

    [CascadingParameter]
    private Trooper? LoggedIn { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var user = (await AuthStateTask).User;

        ShopPositions = await _roster.GetCShopClaimsAsync(Trooper);

        ServiceStrings[0] = Trooper.LastPromotion.ToShortDateString();
        ServiceStrings[1] = Trooper.StartOfService.ToShortDateString();
        ServiceStrings[2] = DateTime.UtcNow.Subtract(Trooper.LastPromotion).TotalDays.ToString("F0");
        ServiceStrings[3] = DateTime.UtcNow.Subtract(Trooper.StartOfService).TotalDays.ToString("F0");
        ServiceStrings[4] = Trooper.LastBilletChange.ToShortDateString();
        ServiceStrings[5] = DateTime.UtcNow.Subtract(Trooper.LastBilletChange).TotalDays.ToString("F0");

        if((await _auth.AuthorizeAsync(user, "RequireNCO")).Succeeded)
        {
            await _roster.LoadPublicProfileDataAsync(Trooper);
            Trooper.Flags.Sort((x, y) => y.CreatedOn.CompareTo(x.CreatedOn));
            LoadedAdditional = true;
        }

        _refresh.RefreshRequested += () => InvokeAsync(StateHasChanged);
    }

    private async Task SaveFlag(EventArgs e)
    {
        if (string.IsNullOrWhiteSpace(Flag.Contents)) return;

        var user = (await AuthStateTask).User;
        if((await _auth.AuthorizeAsync(user, "RequireNCO")).Succeeded)
        {
            await _roster.SaveNewFlag(user, Trooper, Flag);
            Flag = new();
            Trooper.Flags.Sort((x, y) => y.CreatedOn.CompareTo(x.CreatedOn));
            _refresh.CallRequestRefresh();
        }
    }
}
