<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<div class="position-fixed top-0 end-0 p-2">
@if(Alerts is not null)
{
    Counter = 0;
    foreach(var item in Alerts)
    {
        var i = Counter;
        Counter++;

        <div class="@item.Level.GetAlertClasses() alert-dismissible fade show" role="alert">
            @item.Display
            <button type="button" class="btn-close" aria-label="Close"
                @onclick="() => OnAlertRemoved(i)"></button>
        </div>
    }
}
</div>