
<CascadingAuthenticationState>
    <div class="modal-open">
        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </div>

    <div class="position-fixed top-0 end-0 p-2">
    @if(Alerts is not null)
    {
        Counter = 0;
        foreach(var item in Alerts)
        {
            var i = Counter;
            Counter++;

            <div class="@item.Level.GetAlertClasses() alert-dismissible fade show" role="alert">
                @item.Display
                <button type="button" class="btn-close" aria-label="Close"
                    @onclick="() => OnAlertRemoved(i)"></button>
            </div>
        }
    }
    </div>

    @if(ActiveModal is not null)
    {
        <div class="modal-cover"></div>
        <div class="modal d-block" id="alert-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            @ActiveModal
        </div>
    }

</CascadingAuthenticationState>