@if(Editing)
{
    <div class="grid grid-cols-2 mx-4 bg-white">
        @foreach(var pos in Slots)
        {
            <div class="text-right p-2 border-r @(Depth > 2 ? "border-rostert" : 
            Depth > 1 ? "border-rosters" : "border-rosterp")">@pos.Name</div>
            <div class="text-left p-2">@(pos.OccupiedBy?.NickName ?? "TBD")</div>
        }
    </div>
}
else
{
    <div class="grid grid-cols-2 mx-4 bg-white">
        @foreach(var pos in Slots)
        {
            <div class="text-right p-2 border-r @(Depth > 2 ? "border-rostert" : 
            Depth > 1 ? "border-rosters" : "border-rosterp")">@pos.Name</div>
            <div class="text-left p-2">@(pos.OccupiedBy?.NickName ?? "TBD")</div>
        }
    </div>
}