@page "/company/{CompanyDesignation}"

<ul class="nav nav-tabs row">
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == CompanyDisplayOption.Roster ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(CompanyDisplayOption.Roster)">Roster</button>
    </li>
    <DynamicAuthorizeView SectionName="Company Promotion Board" IsPage="false">
        <Authorized>
            <li class="nav-item col">
                <button class="nav-link w-100 h-100 @(Active == CompanyDisplayOption.PromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(CompanyDisplayOption.PromotionBoard)">Promotion Board</button>
            </li>
        </Authorized>
    </DynamicAuthorizeView>
</ul>
@if(Loaded)
{
    <CascadingValue Value="Data">
        <div class="tab-content">
            @switch(Active)
            {
                case CompanyDisplayOption.Roster:
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="4">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        @if (Data is not null)
                        {
                            <CompanyDisplay Company="Data" Airborne="Airborne" Name="@CompanyName" />
                        }
                        else if (ZetaData is not null)
                        {
                            <ZetaDisplay Zeta="ZetaData" />
                        }
                        else if (RazorWingData is not null)
                        {
                            <RazorDisplay Razor="RazorWingData" />
                        }
                    </table>
                    break;
                case CompanyDisplayOption.PromotionBoard:
                    <h4>@Slot.AsFull()'s Promotion Board</h4>
                    @if(Data is not null || ZetaData is not null || RazorWingData is not null)
                    {
                        <CompanyPromotionBoard Company="Data" Zeta="ZetaData" Wing="RazorWingData" Slot="(int)Slot" />
                    }
                    else
                    {
                        <em>No company data was found. Make sure you are in a platoon or the provided designation is correct.</em>
                    }
                    break;
            }
        </div>
    </CascadingValue>
}
else
{
    <em>Loading...</em>
}