@page "/platoon/{PlatoonDesignation}"
@inject IRosterService _roster
@inject IAuthorizationService _auth
@inject IAdvancedRefreshService _advRefresh
@implements IRefreshBase

<ul class="nav nav-tabs row">
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == PlatoonDisplayOption.Roster ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(PlatoonDisplayOption.Roster)">Roster</button>
    </li>
    @if (Loaded && ZetaThree is null)
    {
        <DynamicAuthorizeView SectionName="Platoon Promotion Board" IsPage="false">
            <Authorized>
                <li class="nav-item col">
                    <button class="nav-link w-100 h-100 @(Active == PlatoonDisplayOption.PromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(PlatoonDisplayOption.PromotionBoard)">Promotion Board</button>
                </li>
            </Authorized>
        </DynamicAuthorizeView>
    }
</ul>
@if(Loaded)
{
    <div class="tab-content">
        @switch(Active)
        {
            case PlatoonDisplayOption.Roster:
                <table class="table table-striped table-hover">
                    @if(ZetaThree is not null)
                    {
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="2">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        <ZetaUtcSectionDisplay UTCSection="ZetaThree" Number="Number" />
                    }
                    else if(ZetaData is null)
                    {
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="4">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        <CascadingValue Value="Airborne" Name="Airborne">
                            <CascadingValue Value="CompanyName" Name="CompanyName">
                                <PlatoonDisplay Platoon="Data" Number="Number" />
                            </CascadingValue>
                        </CascadingValue>
                    }
                    else
                    {
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="2">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        <ZetaSectionDisplay Section="ZetaData" Number="Number" />
                    }
                </table>
                break;
            case PlatoonDisplayOption.PromotionBoard:
                <h4>@Slot.AsFull()'s Promotion Board</h4>
                @if(Data is not null || ZetaData is not null)
                {
                    <CascadingValue Name="Airborne" Value="Airborne" >
                        <PlatoonPromotionBoard Platoon="Data" Zeta="ZetaData" Slot="(int)Slot" />
                    </CascadingValue>
                }
                else
                {
                    <em>No platoon data was found. Make sure you are in a platoon or the provided designation is correct.</em>
                }
                break;
        }
    </div>
}
else
{
    <em>Loading...</em>
}

@code {
    public enum PlatoonDisplayOption
    {
        Roster,
        PromotionBoard,
    }

    [Parameter]
    public string PlatoonDesignation { get; set; } = "";

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private PlatoonDisplayOption Active { get; set; } = PlatoonDisplayOption.Roster;
    private PlatoonData? Data { get; set; } = null;
    private ZetaSectionData? ZetaData { get; set; } = null;
    private bool Loaded { get; set; } = false;
    private bool Airborne { get; set; } = false;
    private Slot Slot { get; set; }
    private int Number { get; set; } = 0;
    private string CompanyName { get; set; } = "Temp";

    private ZetaUTCSectionData? ZetaThree { get; set; } = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            var user = (await AuthStateTask).User;

            IAssignable<Trooper>? dat = null;
            if (int.TryParse(PlatoonDesignation, out int id))
            {
                Slot = (Slot)id;
                dat = await _roster.GetPlatoonDataAsync(Slot, (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded);
            }
            else if (PlatoonDesignation == "me")
            {
                dat = await _roster.GetPlatoonDataAsync(user);

                var t = await _roster.GetTrooperFromClaimsPrincipalAsync(user);
                if(t is not null)
                    Slot = (Slot)((int)t.Slot / 10 * 10);
            }

            if (dat is PlatoonData d)
                Data = d;
            else if (dat is ZetaSectionData z)
                ZetaData = z;
            else if (dat is ZetaUTCSectionData u)
                ZetaThree = u;

            if(ZetaThree is null)
            {
                if(Airborne)
                    _advRefresh.AddDataReloadListener("Promotion_Company", DataReloadRequested);
                else
                    _advRefresh.AddDataReloadListener("Promotion_Platoon", DataReloadRequested);
            }

            if (Slot >= Slot.AcklayCompany && Slot < Slot.Mynock)
                Airborne = true;
            CompanyName = Slot.AsFull().Split(' ', StringSplitOptions.RemoveEmptyEntries).FirstOrDefault() ?? "";

            Number = ((int)Slot / 10) % 10;

            Loaded = true;

            StateHasChanged();
        }
    }

    private void OnTypeChange(PlatoonDisplayOption option)
    {
        Active = option;
        StateHasChanged();
    }

    public async Task CallRefreshRequest()
    {
        await InvokeAsync(StateHasChanged);
    }

    public async Task DataReloadRequested()
    {
        var user = (await AuthStateTask).User;

        IAssignable<Trooper>? dat = null;
        if (int.TryParse(PlatoonDesignation, out int id))
        {
            Slot = (Slot)id;
            dat = await _roster.GetPlatoonDataAsync(Slot, (await _auth.AuthorizeAsync(user, "RequireManager")).Succeeded);
        }
        else if (PlatoonDesignation == "me")
        {
            dat = await _roster.GetPlatoonDataAsync(user);

            var t = await _roster.GetTrooperFromClaimsPrincipalAsync(user);
            if(t is not null)
                Slot = (Slot)((int)t.Slot / 10 * 10);
        }

        if (dat is PlatoonData d)
            Data = d;
        else if (dat is ZetaSectionData z)
            ZetaData = z;

        await CallRefreshRequest();
    }

    public void Dispose()
    {
        _advRefresh.RemoveDataReloadListener(DataReloadRequested);
    }
}
