@page "/c1/roster/names/change"
@implements IDisposable
@inject IRosterService _roster
@inject IAuthorizationService _auth
@inject INicknameComparisonService _nicks
@inject NavigationManager _nav
@inject IRefreshRequestService _refresh
@inject IAdvancedRefreshService _advRefresh
@inject IAlertService _alert

<DynamicAuthorizeView SectionName="Name Change Form">
    <Authorized>
        <BreadcrumbsList Url="Urls" />
        <EditForm Context="nameChangeContext" Model="Trooper" class="pb-3">
            <div class="row">
                <div class="col form-group">
                <label for="trooperSelection">Trooper To Edit</label>
                <InputSelectSingleTrooper Troopers="AllTroopers" disabled="@IsEditing" class="form-control w-100" id="trooperSelection" @bind-Value="Trooper" />
                </div>
            </div>
            <div class="row">
                <div class="col form-group d-grid gap-2">
                    <button class="btn btn-primary" disabled="@IsEditing" @onclick="StartEdit">Change Name</button>
                </div>
            </div>
            @if(IsEditing)
            {
            <hr />
            <div class="row">
                <div class="col text-center form-group">
                    <h4>Old Name: @OldName</h4>
                    <hr />
                    <div class="row">
                    <div class="col-md-8 col-sm-12 @(ValidNewNickname ? "has-success" : "has-danger")">
                            <label for="nicknameSetter">Nickname</label>
                            <InputTextValid class="form-control" id="nicknameSetter" @oninput="NicknameChanged" @bind-Value="Trooper.NickName" Valid="ValidNewNickname" />
                            <div class="valid-feedback">That Nickname is avalible!</div>
                            <div class="invalid-feedback">That Nickname has been taken or is invalid.</div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label for="similarNames">Similar Nicknames</label>
                            <select multiple class="form-control" id="similarNames">
                            @foreach(var nick in SimilarNicknames)
                            {
                                <option value="@nick">@nick</option>
                            }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col text-center form-group d-grid gap-2 mx-auto">
                    <button class="btn btn-primary" type="button" @onclick="SaveChanges">Save Name Change</button>
                </div>
            </div>
            }
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</DynamicAuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private bool ValidNewNickname { get; set; } = false;
    private HashSet<string> TakenNicknames { get; set; } = new();

    private List<string> SimilarNicknames { get; set; } = new();
    private Timer SimNickTimer { get; set; }

    public List<(string, string)> Urls { get; set; } = new()
    {
        ("/", "Home"),
        ("/c1", "C-1 PERSONNEL"),
        ("/c1/roster", "Roster Staff Home"),
        ("/c1/roster/names", "Name Change Home"),
        ("/c1/roster/names/change", "Name Change Form")
    };

    public List<Trooper> AllTroopers { get; set; } = new();
    public Trooper Trooper { get; set; } = new();

    protected int ToEdit { get; set; } = 0;
    [CascadingParameter]
    public Trooper? CurrentUser { get; set; } = new();

    private bool IsEditing { get; set; } = false;

    private string OldName { get; set; } = "";

    protected void NicknameChanged(ChangeEventArgs e)
    {
        string? str = (string?)e.Value;

        if (string.IsNullOrWhiteSpace(str)
            || !str.IsAlphabetical()
            || TakenNicknames.Contains(str))
        {
            ValidNewNickname = false;
        }
        else
        {
            Trooper.NickName = str;
            ValidNewNickname = true;
        }

        SimNickTimer.Change(TimeSpan.FromSeconds(0.5), Timeout.InfiniteTimeSpan);
        _refresh.CallRequestRefresh();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            AllTroopers = await _roster.GetAllTroopersAsync();

            var user = (await AuthStateTask).User;
            if((await _auth.AuthorizeAsync(user, "Name Change Form")).Succeeded)
            {
                if(QueryHelpers.ParseQuery(_nav.ToAbsoluteUri(_nav.Uri).Query)
                    .TryGetValue("edit", out var edit))
                {
                    if(int.TryParse(edit, out int val))
                    {
                        IsEditing = true;
                        ToEdit = val;
                    }
                }
            }
        
            SimNickTimer = new(async (x) => await GetNickSimList(), null, Timeout.InfiniteTimeSpan, Timeout.InfiniteTimeSpan);

            _refresh.RefreshRequested += RefreshMe;

            if (IsEditing)
            {
                var first = AllTroopers.FirstOrDefault(x => x.Id == ToEdit);
                if (first is not null)
                {
                    Trooper = first;
                }
            }

            if (Trooper is null)
                IsEditing = false;

            _refresh.CallRequestRefresh();
        }
    }    

    protected async Task GetNickSimList()
    {
        SimilarNicknames = await _nicks.GetPhoneticMatches(Trooper.NickName);

        _refresh.CallRequestRefresh();
    }

    private void RefreshMe()
    {
        InvokeAsync(() => StateHasChanged());
    }

    protected async Task StartEdit(EventArgs e)
    {
        if(Trooper is not null && Trooper.Id != 0)
        {
            IsEditing = true;
            OldName = Trooper.NickName;
        }

        var inUse = await _roster.GetInUseUserDataAsync();
        TakenNicknames = inUse.Item2;

        await _nicks.InitializeAsync();
    }

    protected async Task SaveChanges(EventArgs e)
    {
        if(CurrentUser is not null && CurrentUser.Id != 0)
        {
            var res = await _roster.UpdateNickNameAsync(Trooper, CurrentUser.Id);

            if(!res.GetResult(out var errors))
            {
                _alert.PostAlert(this, errors);
            }
            
            _advRefresh.CallDataReloadRequest("UserDetails", Trooper.Id);

            IsEditing = false;
            Trooper = new();
            _alert.PostAlert(this, "Name changed successfully.");
        }
        else
        {
            _alert.PostAlert(this, new List<string>() { "The current user is invalid" });
        }

        _refresh.CallRequestRefresh();
    }

    void IDisposable.Dispose()
    {
        _refresh.RefreshRequested -= RefreshMe;
    }
}
