@page "/c1/roster"
@inject IUpdateService _update
@inject IAdvancedRefreshService _advRefresh
@inject IEparService _epar
@inherits PaginationModel

<DynamicAuthorizeView SectionName="Roster Clerk Home">
    <Authorized>
        <BreadcrumbsList Url="Urls" />
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row text-center">
                    <h1 class="col">Roster Clerk Home</h1>
                </div>
                <div class="row">
                    <div class="col p-2 d-grid gap-2">
                        <a href="/c1/roster/edit" class="btn btn-primary">Edit Trooper</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2 d-grid gap-2">
                        <a href="/c1/roster/names" class="btn btn-info">Name Change Home</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2 d-grid gap-2">
                        <a href="/c1/roster/epar" class="btn btn-secondary position-relative">
                            Active EPAR Requests
                            @if (EPARCounts > 0)
                            {
                                <span class="position-absolute top-0 start-100 translate-middle badge roudned-pill bg-danger">@(EPARCounts > 99 ? "+99" : EPARCounts.ToString())</span>
                            }
                        </a>
                    </div>
                </div>
                <NoticeBoard Name="Roster Clerk"
                    CSHopOverride="CShop.RosterStaff"
                    AllowedAccess="AllowedAccess" />
            </div>
            <div class="col-md-4 col-sm-12 overflow-auto container-fluid">
                @if (Items.Count > 0)
                {
                    <PaginationController Controller="this" />
                }

                <h3 class="text-center">Recent Activity</h3>
                @if(Items.Count > 0)
                {
                    Counter = 0;
                    @foreach(var update in Items)
                    {
                        switch (update)
                        {
                            case CShopUpdate c:
                            <div class="alert alert-warning">
                                <b class="mb-0">[@c.ChangedById] @c.ChangedBy?.NickName updated C-Shops for [@c.ChangedForId] @c.ChangedFor?.NickName</b>
                                @if(c.Added != CShop.None)
                                {
                                    <div class="mb-0"><b>Added:</b>
                                    <ul>
                                    @foreach(CShop shop in (Enum.GetValues(typeof(CShop))))
                                    {
                                        if((shop & c.Added) == shop && shop != CShop.None)
                                        {
                                            <li>@shop.AsFull()</li>
                                        }
                                    }
                                    </ul>
                                    </div>
                                }
                                @if(c.Removed != CShop.None)
                                {
                                    <div class="mb-0"><b>Removed:</b>
                                    <ul>
                                    @foreach(CShop shop in (Enum.GetValues(typeof(CShop))))
                                    {
                                        if((shop & c.Removed) == shop && shop != CShop.None)
                                        {
                                            <li>@shop.AsFull()</li>
                                        }
                                    }
                                    </ul>
                                    </div>
                                }
                                <br />
                                <small>@c.ChangedOn.ToString("f")</small>
                            </div>
                            break;
                            case RankUpdate c:
                            <div class="alert alert-success">
                                <b class="mb-0">[@c.RequestedById] @c.RequestedBy?.NickName updated the Rank for [@c.ChangedForId] @c.ChangedFor?.NickName</b>
                                <p class="mb-0">
                                    From @c.ChangedFrom.GetRank().AsFull() to @c.ChangedTo.GetRank().AsFull()
                                </p>
                                <br />
                                <small>@c.ChangedOn.ToString("f")</small>
                            </div>
                            break;
                            case SlotUpdate c:
                            <div class="alert alert-success">
                                <b class="mb-0">[@c.ApprovedBy.FirstOrDefault()?.Id] @c.ApprovedBy.FirstOrDefault()?.NickName updated the Slot for [@c.ChangedForId] @c.ChangedFor?.NickName</b>
                                <ul class="mb-0">
                                    @if(c.NewSlot != c.OldSlot)
                                    {
                                        <li>Slot changed from @(c.OldSlot.AsFull() ?? "N/A") to @(c.NewSlot.AsFull() ?? "N/A")</li>
                                    }
                                    @if(c.NewRole != c.OldRole)
                                    {
                                        <li>Role changed from @(c.OldRole?.AsFull() ?? "N/A") to @(c.NewRole?.AsFull() ?? "N/A")</li>
                                    }
                                    @if(c.NewTeam != c.OldTeam)
                                    {
                                        <li>Slot changed from @(c.OldTeam?.AsFull() ?? "N/A") to @(c.NewTeam?.AsFull() ?? "N/A")</li>
                                    }
                                    @if(c.NewFlight != c.OldFlight)
                                    {
                                        <li>Slot changed from @(c.OldFlight?.AsFull() ?? "N/A") to @(c.NewFlight?.AsFull() ?? "N/A")</li>
                                    }
                                </ul>
                                <br />
                                <small>@c.ChangedOn.ToString("f")</small>
                            </div>
                            break;
                            case QualificationUpdate c:
                            <div class="alert alert-warning">
                                <b class="mb-0">[@c.Instructors.FirstOrDefault()?.Id] @c.Instructors.FirstOrDefault()?.NickName updated Qualifications for [@c.ChangedForId] @c.ChangedFor?.NickName</b>
                                @if(c.Added != Qualification.None)
                                {
                                    <div class="mb-0"><b>Added:</b>
                                    <ul>
                                    @foreach(Qualification shop in (Enum.GetValues(typeof(Qualification))))
                                    {
                                        if((shop & c.Added) == shop && shop != Qualification.None)
                                        {
                                            <li>@shop.AsFull()</li>
                                        }
                                    }
                                    </ul>
                                    </div>
                                }
                                @if(c.Removed != Qualification.None)
                                {
                                    <div class="mb-0"><b>Removed:</b>
                                    <ul>
                                    @foreach(Qualification shop in (Enum.GetValues(typeof(Qualification))))
                                    {
                                        if((shop & c.Removed) == shop && shop != Qualification.None)
                                        {
                                            <li>@shop.AsFull()</li>
                                        }
                                    }
                                    </ul>
                                    </div>
                                }
                                <br />
                                <small>@c.ChangedOn.ToString("f")</small>
                            </div>
                            break;
                            case TimeUpdate c:
                            <div class="alert alert-danger">
                                <b class="mb-0">[@c.ChangedById] @c.ChangedBy?.NickName updated Times for [@c.ChangedForId] @c.ChangedFor?.NickName</b>
                                @if(c.OldGraduatedBCT is not null
                                    && c.NewGraduatedBCT is not null)
                                {
                                    <div class="mb-0">BCT Update</div>
                                    <p><b>From: </b>@c.OldGraduatedBCT.Value.ToString("f")<br />
                                    <b>To: </b>@c.NewGraduatedBCT.Value.ToString("f")</p>
                                }

                                @if(c.OldGraduatedUTC is not null
                                    && c.NewGraduatedUTC is not null)
                                {
                                    <div class="mb-0">UTC Update</div>
                                    <p><b>From: </b>@c.OldGraduatedUTC.Value.ToString("f")<br />
                                    <b>To: </b>@c.NewGraduatedUTC.Value.ToString("f")</p>
                                }

                                @if(c.OldBilletChange is not null
                                    && c.NewBilletChange is not null)
                                {
                                    <div class="mb-0">Billet Update</div>
                                    <p><b>From: </b>@c.OldBilletChange.Value.ToString("f")<br />
                                    <b>To: </b>@c.NewBilletChange.Value.ToString("f")</p>
                                }

                                @if(c.OldPromotion is not null
                                    && c.NewPromotion is not null)
                                {
                                    <div class="mb-0">Promotion Update</div>
                                    <p><b>From: </b>@c.OldPromotion.Value.ToString("f")<br />
                                    <b>To: </b>@c.NewPromotion.Value.ToString("f")</p>
                                }

                                @if(c.OldStartOfService is not null
                                    && c.NewStartOfService is not null)
                                {
                                    <div class="mb-0">Start of Service Update</div>
                                    <p><b>From: </b>@c.OldStartOfService.Value.ToString("f")<br />
                                    <b>To: </b>@c.NewStartOfService.Value.ToString("f")</p>
                                }
                            </div>
                            break;
                        }
                    }

                    <PaginationController Controller="this" />
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</DynamicAuthorizeView>

@code {
    public List<(string, string)> Urls { get; set; } = new() { ("/", "Home"), ("/c1", "C-1 PERSONNEL"), ("/c1/roster", "Roster Staff Home") };
    public List<string> AllowedAccess { get; } = new() { "Lead", "Assistant", "C1" };
    private int Counter { get; set; } = 0;
    private int EPARCounts { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            await InitalizeAsync(_update.GetRosterUpdates, _update.GetRosterUpdatesCountAsync);
            EPARCounts = await _epar.GetActiveChangeRequestCount(Array.Empty<object>());

            StateHasChanged();
        }
    }
}
