@inherits RosterModel

<thead>
    <tr class="table-dark text-light text-center">
        <th colspan="2">
            @Number.AsOrdinal() Squad
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(UTCSquad.SquadLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(UTCSquad.SquadLeader?.BirthNumber)">
        <th scope="row" class="text-end w-50">
            Squad Leader
        </th>
        <td class="w-50">
            @if (UTCSquad.SquadLeader is null)
            {
                <span>TBD</span>
            }
            else
            {
                @UTCSquad.SquadLeader.DisplayRankName()                
            }
        </td>
    </tr>

    @for(int i = 0; i < UTCSquad.Troopers.Length; i++)
    {
        var c = i;
        <tr role="@(UTCSquad.Troopers[c] is null ? "" : "button")" @onclick="(x) => TrooperNav(UTCSquad.Troopers[c]?.BirthNumber)">
            <th scope="row" class="text-end">
                Trooper
            </th>
            <td >
                @if (UTCSquad.Troopers[c] is null)
                {
                    <span>TBD</span>
                }
                else
                {
                    @UTCSquad.Troopers[c].DisplayRankName()                
                }
            </td>
        </tr>
    }
</tbody>

@code {
    [Parameter]
    public ZetaUTCSquadData UTCSquad { get; set; }
    [Parameter]
    public int Number { get; set; }
}