@inherits RosterModel

<thead class="bg-dark text-light text-center">
    <tr>
        <th colspan="2">
            501st Legion, 1st Regiment, 3rd Battalion, Company Z "Reserves"
        </th>
    </tr>
    <tr>
        <th colspan="2">
            @Number.AsOrdinal() Section
        </th>
    </tr>
</thead>
<tbody>
    <tr class="table-warning" role="@(UTCSection.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(UTCSection.Commander?.BirthNumber)">
        <th scope="row" class="text-end">
            Section Commander
        </th>
        <td class="text-start">
            @if (UTCSection.Commander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @UTCSection.Commander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr class="table-warning" role="@(UTCSection.Subordinate is null ? "" : "button")" @onclick="(x) => TrooperNav(UTCSection.Subordinate?.BirthNumber)">
        <th scope="row" class="text-end">
            Section Subordinate
        </th>
        <td  class="text-start">
            @if (UTCSection.Subordinate is null)
            {
                <span>TBD</span>
            }
            else
            {
                @UTCSection.Subordinate.DisplayRankName()                
            }
        </td>
    </tr>
</tbody>
@for(int i = 0; i < UTCSection.Squads.Length; i++)
{
    <ZetaUtcSquadDisplay UTCSquad="UTCSection.Squads[i]" Number="i + 1" />
}

@code {
    [Parameter]
    public ZetaUTCSectionData UTCSection { get; set; }
    [Parameter]
    public int Number { get; set; }
}
