@inherits RosterModel

<tbody>
    <tr role="@(Company.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.Commander?.Id)">
        <th scope="row" class="text-end">
            Company Commander
        </th>
        <td class="text-start">
            @(Company.Commander?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Company.XO is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.XO?.Id)">
        <th scope="row" class="text-end">
            Company Executive Officer
        </th>
        <td class="text-start">
            @(Company.XO?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Company.NCOIC is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.NCOIC?.Id)">
        <th scope="row" class="text-end">
            Company NCOIC
        </th>
        <td class="text-start">
            @(Company.NCOIC?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Company.Adjutant is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.Adjutant?.Id)">
        <th scope="row" class="text-end">
            Company Adjutant
        </th>
        <td class="text-start">
            @(Company.Adjutant?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
</tbody>

@code {
    [Parameter]
    public ZetaCompanyData Company { get; set; }
}
