@inherits RosterModel

<thead>
    <tr class="table-dark text-light text-center">
        <th colspan="2">
            @Number.AsOrdinal() Squad
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(UTCSquad.SquadLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(UTCSquad.SquadLeader?.Id)">
        <th scope="row" class="text-end">
            Squad Leader
        </th>
        <td >
            @(UTCSquad.SquadLeader?.WarrantRank is null ? UTCSquad.SquadLeader?.Rank?.AsFull() + " " ?? "" : UTCSquad.SquadLeader?.WarrantRank?.AsFull() + " " ?? "")@(UTCSquad.SquadLeader?.NickName ?? "TBD")
        </td>
    </tr>

    @for(int i = 0; i < UTCSquad.Troopers.Length; i++)
    {
        var c = i;
        <tr role="@(UTCSquad.Troopers[c] is null ? "" : "button")" @onclick="(x) => TrooperNav(UTCSquad.Troopers[c]?.Id)">
            <th scope="row" class="text-end">
                Trooper
            </th>
            <td >
                @(UTCSquad.Troopers[c]?.WarrantRank is null ? UTCSquad.Troopers[c]?.Rank?.AsFull() + " " ?? "" : UTCSquad.Troopers[c]?.WarrantRank?.AsFull() + " " ?? "")@(UTCSquad.Troopers[c]?.NickName ?? "TBD")
            </td>
        </tr>
    }
</tbody>

@code {
    [Parameter]
    public ZetaUTCSquadData UTCSquad { get; set; }
    [Parameter]
    public int Number { get; set; }
}