@inherits RosterModel

<thead>
    <tr class="table-dark text-light text-center">
        <th colspan="2">
            @Number.AsOrdinal() Squad
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Squad.SquadLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.SquadLeader?.Id)">
        <th scope="row" class="text-end">
            Squad Leader
        </th>
        <td >
            @(Squad.SquadLeader?.WarrantRank is null ? Squad.SquadLeader?.Rank?.AsFull() + " " ?? "" : Squad.SquadLeader?.WarrantRank?.AsFull() + " " ?? "")@(Squad.SquadLeader?.NickName ?? "TBD")
        </td>
    </tr>
    <tr role="@(Squad.Leader is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Leader?.Id)">
        <th scope="row" class="text-end">
            Team Leader
        </th>
        <td >
            @(Squad.Leader?.WarrantRank is null ? Squad.Leader?.Rank?.AsFull() + " " ?? "" : Squad.Leader?.WarrantRank?.AsFull() + " " ?? "")@(Squad.Leader?.NickName ?? "TBD")
        </td>
    </tr>
    <tr role="@(Squad.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.RT?.Id)">
        <th scope="row" class="text-end">
            RT
        </th>
        <td >
            @(Squad.RT?.WarrantRank is null ? Squad.RT?.Rank?.AsFull() + " " ?? "" : Squad.RT?.WarrantRank?.AsFull() + " " ?? "")@(Squad.RT?.NickName ?? "TBD")
        </td>
    </tr>
    <tr role="@(Squad.Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Medic?.Id)">
        <th scope="row" class="text-end">
            Medic
        </th>
        <td >
            @(Squad.Medic?.WarrantRank is null ? Squad.Medic?.Rank?.AsFull() + " " ?? "" : Squad.Medic?.WarrantRank?.AsFull() + " " ?? "")@(Squad.Medic?.NickName ?? "TBD")
        </td>
    </tr>

    @for(int i = 0; i < Squad.Troopers.Length; i++)
    {
        var c = i;
        <tr role="@(Squad.Troopers[c] is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Troopers[c]?.Id)">
            <th scope="row" class="text-end">
                Trooper
            </th>
            <td >
                @(Squad.Troopers[c]?.WarrantRank is null ? Squad.Troopers[c]?.Rank?.AsFull() + " " ?? "" : Squad.Troopers[c]?.WarrantRank?.AsFull() + " " ?? "")@(Squad.Troopers[c]?.NickName ?? "TBD")
            </td>
        </tr>
    }
</tbody>

@code {
    [Parameter]
    public ZetaSquadData Squad { get; set; }
    [Parameter]
    public int Number { get; set; }
}
