@inject IPromotionService _promotion
@inject IAdvancedRefreshService _advRefresh

@if(Errors.Count > 0)
{
<div class="row">
    <div class="col p-3">
        <div class="alert alert-danger alert-dismissible w-100">
            <button type="button" class="btn oi oi-x float-right" @onclick="ClearErrors"></button>
            <strong>Something went wrong!</strong>
            <ul>
            @foreach(var i in Errors)
            {
                <li>@i</li>
            }
            </ul>
        </div>
    </div>
</div>
}
@if(SuccessMessage is not null)
{
<div class="row">
    <div class="col p-3">
        <div class="alert alert-success alert-dismissible w-100">
            <button type="button" class="btn oi oi-x float-right" @onclick="ClearSuccess"></button>
            <p>@SuccessMessage</p>
        </div>
    </div>
</div>
}

<div class="row">
    <div class="col">
        <h4>Troopers Eligible for Promotion</h4>
        @if (Loaded)
        {
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">NickName</th>
                        <th scope="col">From Rank</th>
                        <th scope="col">To Rank</th>
                        @if (AllowedPromoter)
                        {
                            <th scope="col"></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (EligiblePromotions.Count > 0)
                    {
                        @foreach(var e in EligiblePromotions)
                        {
                            <tr>
                                <td>@e.PromotionFor.Id</td>
                                <td>@e.PromotionFor.NickName</td>
                                <td>@(e.PromoteFrom.GetRank()?.AsFull() ?? "")</td>
                                <td>@(e.PromoteTo.GetRank()?.AsFull() ?? "")</td>
                                @if(AllowedPromoter)
                                {
                                    var p = e;
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-text bg-success">
                                                <input type="checkbox" class="form-check-input mt-0" @onclick="TogglePromote" />
                                            </div>
                                            <button class="btn btn-outline-success" disabled="@(!ConfirmPromote)" @onclick="async (x) => await StartPromotion(p)">Raise For Promotion</button>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="6">No eligible promotions found.</td></tr>
                    }
                </tbody>
            <tbody>
                
            </tbody>
        </table>
        }
        else
        {
            <em>Loading....</em>
        }
    </div>
</div>
@if (AllowedPromoter)
{
    @if (!IsPromoting)
    {
        <div class="row">
            <dvi class="col d-grid gap-2">
                <button class="btn btn-primary" @onclick="ToggleStartPromotionForm">Start Promotion Process</button>
            </dvi>
        </div>
    }
    else
    {
        <EditForm Model="Promotion" class="form">
            <div class="form-group text-center">
                <div class="row p-2">
                    <div class="col">
                        <h3>To Promote</h3>
                        <InputSelectSingleTrooper @bind-Value="Promotion.PromotionFor" Troopers="ActiveTroopers" class="form-control" />
                    </div>
                </div>
                @if (Promotion.PromotionFor is not null)
                {
                    <div class="row p-2">
                        <div class="col-md-12 col-lg-6">
                            <h4>Promote From</h4>
                            <InputSelect @bind-Value="Promotion.PromoteFrom" class="form-control">
                                @if(Promotion.PromotionFor.Rank is not null)
                                {
                                    <option value="@((int)Promotion.PromotionFor.Rank.Value)">@(Promotion.PromotionFor.Rank?.AsFull() ?? "")</option>
                                }

                                @if(Promotion.PromotionFor.MedicRank is not null)
                                {
                                    <option value="@((int)Promotion.PromotionFor.MedicRank.Value)">@(Promotion.PromotionFor.MedicRank?.AsFull() ?? "")</option>
                                }

                                @if(Promotion.PromotionFor.RTORank is not null)
                                {
                                    <option value="@((int)Promotion.PromotionFor.RTORank.Value)">@(Promotion.PromotionFor.RTORank?.AsFull() ?? "")</option>
                                }

                                @if(Promotion.PromotionFor.PilotRank is not null)
                                {
                                    <option value="@((int)Promotion.PromotionFor.PilotRank.Value)">@(Promotion.PromotionFor.PilotRank?.AsFull() ?? "")</option>
                                }

                                @if(Promotion.PromotionFor.WarrantRank is not null)
                                {
                                    <option value="@((int)Promotion.PromotionFor.WarrantRank.Value)">@(Promotion.PromotionFor.WarrantRank?.AsFull() ?? "")</option>
                                }

                                @if(Promotion.PromotionFor.WardenRank is not null)
                                {
                                    <option value="@((int)Promotion.PromotionFor.WardenRank.Value)">@(Promotion.PromotionFor.WardenRank?.AsFull() ?? "")</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <h4>Promote To</h4>
                            <InputSelect @bind-Value="Promotion.PromoteTo" class="form-control">
                                @if (Promotion.PromoteFrom != 0)
                                {
                                    <option value="-1">Select Rank</option>

                                    var c = Promotion.PromoteFrom / 100;
                                    switch(c)
                                    {
                                        case 0:
                                            foreach (TrooperRank r in Enum.GetValues(typeof(TrooperRank)))
                                            {
                                                var ri = (int)r;
                                                if (ri > Promotion.PromoteFrom)
                                                {
                                                    <option value="@ri">@r.AsFull()</option>
                                                }
                                            }
                                        break;
                                        case 1:
                                            foreach (MedicRank r in Enum.GetValues(typeof(MedicRank)))
                                            {
                                                var ri = (int)r;
                                                if (ri > Promotion.PromoteFrom)
                                                {
                                                    <option value="@ri">@r.AsFull()</option>
                                                }
                                            }
                                        break;
                                        case 2:
                                            foreach (RTORank r in Enum.GetValues(typeof(RTORank)))
                                            {
                                                var ri = (int)r;
                                                if (ri > Promotion.PromoteFrom)
                                                {
                                                    <option value="@ri">@r.AsFull()</option>
                                                }
                                            }
                                        break;
                                        case 3:
                                            foreach (WarrantRank r in Enum.GetValues(typeof(WarrantRank)))
                                            {
                                                var ri = (int)r;
                                                if (ri > Promotion.PromoteFrom)
                                                {
                                                    <option value="@ri">@r.AsFull()</option>
                                                }
                                            }
                                        break;
                                        case 4:
                                            foreach (PilotRank r in Enum.GetValues(typeof(PilotRank)))
                                            {
                                                var ri = (int)r;
                                                if (ri > Promotion.PromoteFrom)
                                                {
                                                    <option value="@ri">@r.AsFull()</option>
                                                }
                                            }
                                        break;
                                        case 5:
                                            foreach (WardenRank r in Enum.GetValues(typeof(WardenRank)))
                                            {
                                                var ri = (int)r;
                                                if (ri > Promotion.PromoteFrom)
                                                {
                                                    <option value="@ri">@r.AsFull()</option>
                                                }
                                            }
                                        break;
                                    }
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <h4>Reason for Promotion</h4>
                            <InputText @bind-Value="Promotion.Reason" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col d-grid gap-2">
                            <button class="btn btn-primary" @onclick="StartPromotion">Request Promotion</button>
                            <button class="btn btn-danger" @onclick="ToggleStartPromotionForm">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </EditForm>
    }
}

@code {
    [CascadingParameter]
    public Trooper CurrentUser { get; set; }

    [CascadingParameter]
    public bool AllowedPromoter { get; set; }

    [Parameter]
    public List<Trooper> ActiveTroopers { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    [Parameter]
    public PromotionBoardLevel SendPromotionsTo { get; set; }

    [Parameter]
    public bool Mynock { get; set; } = false;

    protected string? SuccessMessage { get; set; } = null;
    protected List<string> Errors { get; set; } = new();

    public bool Loaded { get; set; } = false;

    public List<Promotion> EligiblePromotions { get; set; } = new();

    protected bool ConfirmPromote { get; set; } = false;
    public void TogglePromote()
        => ConfirmPromote = !ConfirmPromote;

    private bool IsPromoting { get; set; } = false;
    private Promotion Promotion { get; set; } = new();

    protected void ClearSuccess()
    {
        SuccessMessage = null;
    }

    protected void ClearErrors()
    {
        Errors.Clear();   
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            BuildEligiblePromotionsList();

            Loaded = true;
            StateHasChanged();
        }
    }

    private void BuildEligiblePromotionsList()
    {
        if (ActiveTroopers is null) return;

        foreach(var t in ActiveTroopers)
        {
            if (t is null) continue;
            EligiblePromotions.AddRange(t.GetEligiblePromotions());
        }
    }

    private void ToggleStartPromotionForm()
    {
        IsPromoting = !IsPromoting;

        if (IsPromoting)
            Promotion = new();
    }

    private async Task StartPromotion(Promotion p)
    {
        Promotion = p;
        await StartPromotion();
    }

    private async Task StartPromotion()
    {
        if (AllowedPromoter)
        {
            Promotion.CurrentBoard = SendPromotionsTo;

            if(Promotion.PromoteTo <= 0)
            {
                Errors.Add("No rank was selected to promote to.");
                return;
            }

            ToggleStartPromotionForm();

            var user = (await AuthStateTask).User;

            var res = await _promotion.StartPromotionProcess(user, Promotion);

            if (!res.GetResult(out var errors))
            {
                Errors.AddRange(errors);
            }
            else
            {
                SuccessMessage = "Promotion filed successfully!";

                if(SendPromotionsTo >= PromotionBoardLevel.Battalion 
                    && SendPromotionsTo < PromotionBoardLevel.Razor)
                    _advRefresh.CallDataReloadRequest("Promotion_Battalion");
                if(SendPromotionsTo >= PromotionBoardLevel.Compnay 
                    && SendPromotionsTo < PromotionBoardLevel.Razor)
                {
                    _advRefresh.CallDataReloadRequest("Promotion_Company");
                    if(Mynock)
                    {
                        _advRefresh.CallDataReloadRequest("Promotion_Mynock_Command");
                    }
                }
                if(SendPromotionsTo >= PromotionBoardLevel.Platoon 
                    && SendPromotionsTo < PromotionBoardLevel.Razor)
                    _advRefresh.CallDataReloadRequest("Promotion_Platoon");
                if(SendPromotionsTo >= PromotionBoardLevel.Squad 
                    && SendPromotionsTo < PromotionBoardLevel.Razor)
                {
                    _advRefresh.CallDataReloadRequest("Promotion_Squad");
                    if(Mynock)
                    {
                        _advRefresh.CallDataReloadRequest("Promotion_Mynock_Section");
                    }
                }
                if (SendPromotionsTo == PromotionBoardLevel.Razor)
                    _advRefresh.CallDataReloadRequest("Promotion_Razor");
                else if (SendPromotionsTo == PromotionBoardLevel.Warden)
                    _advRefresh.CallDataReloadRequest("Promotion_Warden");
            }
            StateHasChanged();
        }
    }
}
