@page "/c1/returning"
@implements IDisposable
@inject ComponentApplicationState _state
@inject NavigationManager _nav
@inject IUpdateService _update

<AuthorizeView>
    <Authorized>
        <BreadcrumbsList Url="Urls" />
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row text-center">
                    <h1 class="col">Returning Member Staff Home</h1>
                </div>
                <div class="row">
                    <div class="col p-2">
                        <a href="/c1/roster/edit" class="btn btn-block btn-primary">Roster Edit Form</a>
                    </div>
                </div>
                @if (!Loading)
                {
                <NoticeBoard Name="Returning Member Staff"
                                CSHopOverride="CShop.ReturningMemberStaff"
                                AllowedAccess="AllowedAccess" />
                }
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 class="text-center">Recent Activity</h3>
                @if(Changes is not null)
                {
                    Count = 0;
                    foreach(var c in Changes)
                    {
                        if(Count++ >= 10) return;

                        <div class="alert alert-success">
                            <b class="mb-0">[@c.ChangedForId] @c.ChangedFor?.NickName returned with approval from [@c.ApprovedBy?.FirstOrDefault()?.Id] @c.ApprovedBy?.FirstOrDefault()?.NickName</b>
                            <p class="mb-0">@c.ChangedFor?.NickName was moved to @c.NewSlot.AsFull()</p>
                            <br />
                            <small>@c.ChangedOn.ToString("f")</small>
                        </div>
                    }
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<(string, string)> Urls { get; set; } = new() { ("/", "Home"), ("/c1", "C-1 PERSONNEL"), ("/c1/returning", "Returning Member Staff Home") };
    public List<string> AllowedAccess { get; } = new() { "Lead", "Assistant", "C1" };
    public bool Loading { get; set; } = true;
    public IEnumerable<SlotUpdate>? Changes { get; set; } = null;
    public int Count { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _state.OnPersisting += OnPersisting;
        if(_state.TryTakeAsJson<IEnumerable<SlotUpdate>?>(_nav.Uri.ToString(), out var data))
        {
            Changes = data;
        }
        else
        {
            Changes = await _update.GetReturningMemberChangesAsync();
        }

        Loading = false;
    }

    private Task OnPersisting()
    {
        _state.PersistAsJson(_nav.Uri.ToString(), Changes);
        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
        => _state.OnPersisting -= OnPersisting;
}
