@page "/c1/returning"
@inject IUpdateService _update
@inherits PaginationModel

<DynamicAuthorizeView SectionName="Returning Member Staff Home">
    <Authorized>
        <BreadcrumbsList Url="Urls" />
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row text-center">
                    <h1 class="col">Returning Member Staff Home</h1>
                </div>
                <div class="row">
                    <div class="col p-2">
                        <div class="d-grid gap-2 mx-auto">
                            <a href="/c1/roster/edit" class="btn btn-primary">Roster Edit Form</a>
                            <a href="/c1/recruiter/addmember" class="btn btn-secondary">New Recruit Form</a>
                        </div>
                    </div>
                </div>
                <NoticeBoard Name="Returning Member Staff"
                    CSHopOverride="CShop.ReturningMemberStaff"
                    AllowedAccess="AllowedAccess" />
            </div>
            <div class="col-md-4 col-sm-12 overflow-auto container-fluid">

                @if(Items.Count > 0)
                {
                    <PaginationController Controller="this" />
                }
                
                <h3 class="text-center">Recent Activity</h3>
                @if(Items.Count > 0)
                {
                    Counter = 0;
                    foreach(SlotUpdate c in Items)
                    {
                        <div class="alert alert-success">
                            <b class="mb-0">[@c.ChangedForId] @c.ChangedFor?.NickName returned with approval from [@c.ApprovedBy?.FirstOrDefault()?.Id] @c.ApprovedBy?.FirstOrDefault()?.NickName</b>
                            <p class="mb-0">@c.ChangedFor?.NickName was moved to @c.NewSlot.AsFull()</p>
                            <br />
                            <small>@c.ChangedOn.ToString("f")</small>
                        </div>
                    }

                    <PaginationController Controller="this" />
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedMessage />
    </NotAuthorized>
</DynamicAuthorizeView>

@code {
    public List<(string, string)> Urls { get; set; } = new() { ("/", "Home"), ("/c1", "C-1 PERSONNEL"), ("/c1/returning", "Returning Member Staff Home") };
    public List<string> AllowedAccess { get; } = new() { "Lead", "Assistant", "C1" };
    public int Counter { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            await InitalizeAsync(_update.GetReturningMemberChangesAsync, 
                _update.GetReturningMemberChangesCountAsync);

            StateHasChanged();
        }
    }
}
