@using FiveOhFirstDataCore.Core.Data.Roster
@using FiveOhFirstDataCore.Core.Data

<tr>
    <th scope="row" colspan="2" class="text-right">
        Company Commander
    </th>
    <td colspan="2" class="text-left">
        @(Company.Commander?.WarrantRank is null ? Company.Commander?.Rank.AsFull() + " " ?? "" : Company.Commander?.WarrantRank?.AsFull() + " " ?? "")@(Company.Commander?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Company Executive Officer
    </th>
    <td colspan="2" class="text-left">
        @(Company.XO?.WarrantRank is null ? Company.XO?.Rank.AsFull() + " " ?? "" : Company.XO?.WarrantRank?.AsFull() + " " ?? "")@(Company.XO?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Company NCOIC
    </th>
    <td colspan="2" class="text-left">
        @(Company.NCOIC?.WarrantRank is null ? Company.NCOIC?.Rank.AsFull() + " " ?? "" : Company.NCOIC?.WarrantRank?.AsFull() + " " ?? "")@(Company.NCOIC?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Company Medic
    </th>
    <td colspan="2" class="text-left">
        @(Company.Medic?.WarrantRank is null ? Company.Medic?.Rank.AsFull() + " " ?? "" : Company.Medic?.WarrantRank?.AsFull() + " " ?? "")@(Company.Medic?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Company RT
    </th>
    <td colspan="2" class="text-left">
        @(Company.RT?.WarrantRank is null ? Company.RT?.Rank.AsFull() + " " ?? "" : Company.RT?.WarrantRank?.AsFull() + " " ?? "")@(Company.RT?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Company ARC
    </th>
    <td colspan="2" class="text-left">
        @(Company.ARC?.WarrantRank is null ? Company.ARC?.Rank.AsFull() + " " ?? "" : Company.ARC?.WarrantRank?.AsFull() + " " ?? "")@(Company.ARC?.NickName ?? "TBD")
    </td>
</tr>
<tr>
    <th scope="row" colspan="2" class="text-right">
        Company Adjutant
    </th>
    <td colspan="2" class="text-left">
        @(Company.Adjutant?.WarrantRank is null ? Company.Adjutant?.Rank.AsFull() + " " ?? "" : Company.Adjutant?.WarrantRank?.AsFull() + " " ?? "")@(Company.Adjutant?.NickName ?? "TBD")
    </td>
</tr>

@code {
    [Parameter]
    public CompanyData Company { get; set; }
}
