@inject NavigationManager _nav
@inherits RosterModel

<thead class="bg-primary text-light text-center">
    <tr>
        <th colspan="@(Single ? 2 : 4)">
            501st Legion, 1st Regiment
        </th>
    </tr>
    <tr>
        <th colspan="@(Single ? 2 : 4)">
            3rd Battalion "Hailstorm"
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Hailstorm.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.Commander?.BirthNumber)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end w-50">
            Battalion Commander
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start w-50">
            @if (Hailstorm.Commander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Hailstorm.Commander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Hailstorm.XO is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.XO?.BirthNumber)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion Executive Officer
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @if (Hailstorm.XO is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Hailstorm.XO.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Hailstorm.CShopCommander is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.CShopCommander?.BirthNumber)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion C-Shop Commander
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @if (Hailstorm.CShopCommander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Hailstorm.CShopCommander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Hailstorm.CShopXO is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.CShopXO?.BirthNumber)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            C-Shop Executive Officer
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @if (Hailstorm.CShopXO is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Hailstorm.CShopXO.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Hailstorm.NCOIC is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.NCOIC?.BirthNumber)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion NCOIC
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @if (Hailstorm.NCOIC is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Hailstorm.NCOIC.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Hailstorm.Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.Medic?.BirthNumber)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion Medic
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @if (Hailstorm.Medic is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Hailstorm.Medic.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Hailstorm.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.RT?.BirthNumber)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion RT
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @if (Hailstorm.RT is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Hailstorm.RT.DisplayRankName()                
            }
        </td>
    </tr>
</tbody>


@code {
    [Parameter]
    public HailstormData Hailstorm { get; set; }
    [Parameter]
    public bool Single { get; set; } = true;
}
