@inject NavigationManager _nav
@inherits RosterModel

<thead class="bg-primary text-light text-center">
    <tr>
        <th colspan="@(Single ? 2 : 4)">
            501st Legion, 1st Regiment
        </th>
    </tr>
    <tr>
        <th colspan="@(Single ? 2 : 4)">
            3rd Battalion "Hailstorm"
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Hailstorm.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.Commander?.Id)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end w-50">
            Battalion Commander
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start w-50">
            @(Hailstorm.Commander?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Hailstorm.XO is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.XO?.Id)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion Executive Officer
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @(Hailstorm.XO?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Hailstorm.CShopCommander is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.CShopCommander?.Id)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion C-Shop Commander
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @(Hailstorm.CShopCommander?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Hailstorm.CShopXO is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.CShopXO?.Id)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            C-Shop Executive Officer
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @(Hailstorm.CShopXO?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Hailstorm.NCOIC is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.NCOIC?.Id)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion NCOIC
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @(Hailstorm.NCOIC?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Hailstorm.Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.Medic?.Id)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion Medic
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @(Hailstorm.Medic?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Hailstorm.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Hailstorm.RT?.Id)">
        <th scope="row" colspan="@(Single ? 1 : 2)" class="text-end">
            Battalion RT
        </th>
        <td colspan="@(Single ? 1 : 2)" class="text-start">
            @(Hailstorm.RT?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
</tbody>


@code {
    [Parameter]
    public HailstormData Hailstorm { get; set; }
    [Parameter]
    public bool Single { get; set; } = true;
}
