@inherits RosterModel

<thead>
    <tr>
        <th colspan="4" class="bg-primary text-light text-center">
            501st Legion, 1st Regiment, 3rd Battalion, Bastion Detachment "Mynock"
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Mynock.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Mynock.Commander?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Detachment Commander
        </th>
        <td colspan="2" class="text-start">
            @if (Mynock.Commander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Mynock.Commander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Mynock.NCOIC is null ? "" : "button")" @onclick="(x) => TrooperNav(Mynock.NCOIC?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Detachment NCOIC
        </th>
        <td colspan="2" class="text-start">
            @if (Mynock.NCOIC is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Mynock.NCOIC.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Mynock.Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Mynock.Medic?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Detachment Medic
        </th>
        <td colspan="2" class="text-start">
            @if (Mynock.Medic is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Mynock.Medic.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Mynock.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Mynock.RT?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Detachment RT
        </th>
        <td colspan="2" class="text-start">
            @if (Mynock.RT is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Mynock.RT.DisplayRankName()                
            }
        </td>
    </tr>
</tbody>

@for(int i = 0; i < Mynock.Sections.Length; i++)
{
    <MynockSectionDisplay Section="Mynock.Sections[i]" SectionNumber="i + 1" />
}

@code {
    [Parameter]
    public MynockDetachmentData Mynock { get; set; }
}
