@inherits RosterModel

<thead class="text-center table-dark text-light">
    <tr>
        <th colspan="4">
            @SectionNumber.AsOrdinal() Section
        </th>
    </tr>
</thead>
<tbody>
    <tr class="table-warning" role="@(Section.Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Lead?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Section Leader
        </th>
        <td colspan="2" class="text-start">
            @if (Section.Lead is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Lead.DisplayRankName()                
            }
        </td>
    </tr>
    <tr class="table-warning" role="@(Section.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.RT?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Section RT
        </th>
        <td colspan="2" class="text-start">
            @if (Section.RT is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.RT.DisplayRankName()                
            }
        </td>
    </tr>

    <tr>
        <th scope="row" class="table-danger text-end" role="@(Section.Teams[0].Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Teams[0].Lead?.BirthNumber)">
            Alpha Team Leader
        </th>
        <td class="table-danger text-start" role="@(Section.Teams[0].Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Teams[0].Lead?.BirthNumber)">
            @if (Section.Teams[0].Lead is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Teams[0].Lead.DisplayRankName()                
            }
        </td>
        <th scope="row" class="table-primary text-end" role="@(Section.Teams[1].Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Teams[1].Lead?.BirthNumber)">
            Bravo Team Leader
        </th>
        <td class="table-primary text-start" role="@(Section.Teams[1].Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Teams[1].Lead?.BirthNumber)">
            @if (Section.Teams[1].Lead is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Teams[1].Lead.DisplayRankName()                
            }
        </td>
    </tr>
    <tr>
        <th scope="row" class="table-danger text-end" role="@(AT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT1?.BirthNumber)">
            Alpha Trooper 
        </th>
        <td class="table-danger text-start" role="@(AT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT1?.BirthNumber)">
            @if (AT1 is null)
            {
                <span>TBD</span>
            }
            else
            {
                @AT1.DisplayRankName()                
            }
        </td>
        <th scope="row" class="table-primary text-end" role="@(BT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT1?.BirthNumber)">
            Bravo Trooper
        </th>
        <td class="table-primary text-start" role="@(BT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT1?.BirthNumber)">
            @if (BT1 is null)
            {
                <span>TBD</span>
            }
            else
            {
                @BT1.DisplayRankName()                
            }
        </td>
    </tr>

    <tr>
        <th scope="row" class="table-danger text-end" role="@(AT2 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT2?.BirthNumber)">
            Alpha Trooper 
        </th>
        <td class="table-danger text-start" role="@(AT2 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT2?.BirthNumber)">
            @if (AT2 is null)
            {
                <span>TBD</span>
            }
            else
            {
                @AT2.DisplayRankName()                
            }
        </td>
        <th scope="row" class="table-primary text-end" role="@(BT2 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT2?.BirthNumber)">
            Bravo Trooper
        </th>
        <td class="table-primary text-start" role="@(BT2 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT2?.BirthNumber)">
            @if (BT2 is null)
            {
                <span>TBD</span>
            }
            else
            {
                @BT2.DisplayRankName()                
            }
        </td>
    </tr>

    @for(int i = 0; i < AAdditional.Count && i < BAdditional.Count; i++)
    {
        Trooper AT3 = null;
        if (AAdditional.Count < i)
        {
            AT3 = AAdditional[i];
        }

        Trooper BT3 = null;
        if (BAdditional.Count < i)
        {
            BT3 = BAdditional[i];
        }

        <tr>
            <th scope="row" class="table-danger text-end" role="@(AT3 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT3?.BirthNumber)">
                Alpha Trooper 
            </th>
            <td class="table-danger text-start" role="@(AT3 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT3?.BirthNumber)">
                @if (AT3 is null)
                {
                    <span>TBD</span>
                }
                else
                {
                    @AT3.DisplayRankName()                
                }
            </td>
            <th scope="row" class="table-primary text-end" role="@(BT3 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT3?.BirthNumber)">
                Bravo Trooper
            </th>
            <td class="table-primary text-start" role="@(BT3 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT3?.BirthNumber)">
                @if (BT3 is null)
                {
                    <span>TBD</span>
                }
                else
                {
                    @BT3.DisplayRankName()                
                }
            </td>
        </tr>
    }

    <tr>
        <th scope="row" class="table-danger text-end" role="@(Section.Teams[0].Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Teams[0].Medic?.BirthNumber)">
            Alpha Medic 
        </th>
        <td class="table-danger text-start" role="@(Section.Teams[0].Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Teams[0].Medic?.BirthNumber)">
            @if (Section.Teams[0].Medic is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Teams[0].Medic.DisplayRankName()                
            }
        </td>
        <th scope="row" class="table-primary text-end" role="@(Section.Teams[1].Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Teams[1].Medic?.BirthNumber)">
            Bravo Medic
        </th>
        <td class="table-primary text-start" role="@(Section.Teams[1].Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Teams[1].Medic?.BirthNumber)">
            @if (Section.Teams[1].Medic is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Teams[1].Medic.DisplayRankName()                
            }
        </td>
    </tr>
</tbody>

@code {
    [Parameter]
    public MynockSectionData Section {get;set;}
    [Parameter]
    public int SectionNumber { get; set; }

    private Trooper? AT1 { get; set; } = null;
    private Trooper? AT2 { get; set; } = null;
    private List<Trooper> AAdditional { get; set; } = new();

    private Trooper? BT1 { get; set; } = null;
    private Trooper? BT2 { get; set; } = null;
    private List<Trooper> BAdditional { get; set; } = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        int c = 0;
        foreach(var t in Section.Teams[0].Troopers)
        {
            if (c == 0)
                AT1 = t;
            else if (c == 1)
                AT2 = t;
            else
                AAdditional.Add(t);

            c++;
        }

        c = 0;
        foreach(var t in Section.Teams[1].Troopers)
        {
            if (c == 0)
                BT1 = t;
            else if (c == 1)
                BT2 = t;
            else
                BAdditional.Add(t);

            c++;
        }
    }
}
