@inherits RosterModel

<tbody>
    <tr role="@(Platoon.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.Commander?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Platoon Commander
        </th>
        <td colspan="2" class="text-start">
            @(Platoon.Commander?.WarrantRank is null ? Platoon.Commander?.Rank?.AsFull() + " " ?? "" : Platoon.Commander?.WarrantRank?.AsFull() + " " ?? "")@(Platoon.Commander?.NickName ?? "TBD")
        </td>
    </tr>
    <tr role="@(Platoon.SergeantMajor is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.SergeantMajor?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Platoon Sergeant Major
        </th>
        <td colspan="2" class="text-start">
            @(Platoon.SergeantMajor?.WarrantRank is null ? Platoon.SergeantMajor?.Rank?.AsFull() + " " ?? "" : Platoon.SergeantMajor?.WarrantRank?.AsFull() + " " ?? "")@(Platoon.SergeantMajor?.NickName ?? "TBD")
        </td>
    </tr>
    <tr role="@(Platoon.Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.Medic?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Platoon Medic
        </th>
        <td colspan="2" class="text-start">
            @(Platoon.Medic?.WarrantRank is null ? Platoon.Medic?.Rank?.AsFull() + " " ?? "" : Platoon.Medic?.WarrantRank?.AsFull() + " " ?? "")@(Platoon.Medic?.NickName ?? "TBD")
        </td>
    </tr>
    <tr role="@(Platoon.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.RT?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Platoon RT
        </th>
        <td colspan="2" class="text-start">
            @(Platoon.RT?.WarrantRank is null ? Platoon.RT?.Rank?.AsFull() + " " ?? "" : Platoon.RT?.WarrantRank?.AsFull() + " " ?? "")@(Platoon.RT?.NickName ?? "TBD")
        </td>
    </tr>
    @if (!Airborne)
    {
        <tr role="@(Platoon.ARC is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.ARC?.Id)">
            <th scope="row" colspan="2" class="text-end">
                Platoon ARC
            </th>
            <td colspan="2" class="text-start">
                @(Platoon.ARC?.WarrantRank is null ? Platoon.ARC?.Rank?.AsFull() + " " ?? "" : Platoon.ARC?.WarrantRank?.AsFull() + " " ?? "")@(Platoon.ARC?.NickName ?? "TBD")
            </td>
        </tr> 
    }
</tbody>

@code {
    [Parameter]
    public PlatoonData Platoon { get; set; }
    [CascadingParameter(Name = "Airborne")]
    public bool Airborne { get; set; }
}
