@inherits RosterModel

<tbody>
    <tr role="@(Platoon.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.Commander?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Platoon Commander
        </th>
        <td colspan="2" class="text-start">
            @if (Platoon.Commander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Platoon.Commander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Platoon.SergeantMajor is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.SergeantMajor?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Platoon Sergeant Major
        </th>
        <td colspan="2" class="text-start">
            @if (Platoon.SergeantMajor is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Platoon.SergeantMajor.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Platoon.Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.Medic?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Platoon Medic
        </th>
        <td colspan="2" class="text-start">
            @if (Platoon.Medic is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Platoon.Medic.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Platoon.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.RT?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Platoon RT
        </th>
        <td colspan="2" class="text-start">
            @if (Platoon.RT is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Platoon.RT.DisplayRankName()                
            }
        </td>
    </tr>
    @if (!Airborne)
    {
        <tr role="@(Platoon.ARC is null ? "" : "button")" @onclick="(x) => TrooperNav(Platoon.ARC?.BirthNumber)">
            <th scope="row" colspan="2" class="text-end">
                Platoon ARC
            </th>
            <td colspan="2" class="text-start">
                @if (Platoon.ARC is null)
                {
                    <span>TBD</span>
                }
                else
                {
                    @Platoon.ARC.DisplayRankName()                
                }
            </td>
        </tr>
    }
    else
    {
        <tr role="@(Adjutant is null ? "" : "button")" @onclick="(x) => TrooperNav(Adjutant?.BirthNumber)">
            <th scope="row" colspan="2" class="text-end">
                Airborne Adjutant
            </th>
            <td colspan="2" class="text-start">
                @if (Adjutant is null)
                {
                    <span>TBD</span>
                }
                else
                {
                    @Adjutant.DisplayRankName()                
                }
            </td>
        </tr>
    }
</tbody>
