<thead class="table-primary text-center">
    <tr>
        <th colspan="4">
            @SectionNumber.AsOrdinal() Section, Razor @FlightNumber-@SectionNumber
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <th scope="row" class="text-end" colspan="2">
            Pilot (@($"{SectionNumber}A"))
        </th>
        <td class="text-start" colspan="2">
            @(Section.Alpha?.WarrantRank is null ? Section.Alpha?.PilotRank?.AsFull() + " " ?? "" : Section.Alpha?.WarrantRank?.AsFull() + " " ?? "")@(Section.Alpha?.NickName ?? "TBD")
        </td>
    </tr>
    <tr>
        <th scope="row" class="text-end" colspan="2">
            Pilot (@($"{SectionNumber}B"))
        </th>
        <td class="text-start" colspan="2">
            @(Section.Bravo?.WarrantRank is null ? Section.Bravo?.PilotRank?.AsFull() + " " ?? "" : Section.Bravo?.WarrantRank?.AsFull() + " " ?? "")@(Section.Bravo?.NickName ?? "TBD")
        </td>
    </tr>
    <tr>
        <th scope="row" class="text-end" colspan="2">
            Pilot (@($"{SectionNumber}C"))
        </th>
        <td class="text-start" colspan="2">
            @(Section.Charlie?.WarrantRank is null ? Section.Charlie?.PilotRank?.AsFull() + " " ?? "" : Section.Charlie?.WarrantRank?.AsFull() + " " ?? "")@(Section.Charlie?.NickName ?? "TBD")
        </td>
    </tr>
    <tr>
        <th scope="row" class="text-end" colspan="2">
            Pilot (@($"{SectionNumber}D"))
        </th>
        <td class="text-start" colspan="2">
            @(Section.Delta?.WarrantRank is null ? Section.Delta?.PilotRank?.AsFull() + " " ?? "" : Section.Delta?.WarrantRank?.AsFull() + " " ?? "")@(Section.Delta?.NickName ?? "TBD")
        </td>
    </tr>
</tbody>

@code {
    [Parameter]
    public RazorSectionData Section {get;set;}
    [Parameter]
    public int FlightNumber {get;set;}
    [Parameter]
    public int SectionNumber {get;set;}
}
