@inherits RosterModel

<thead class="table-dark text-light text-center">
    <tr>
        <th colspan="2">
            @FlightNumber.AsOrdinal() Flight
        </th>
        <th colspan="2">
            @((FlightNumber+1).AsOrdinal()) Flight
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <th class="text-end" role="@(Flight1.FlightLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight1.FlightLeader?.BirthNumber)">
            Flight Leader (@(FlightNumber)-1)
        </th>
        <td class="text-start" role="@(Flight1.FlightLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight1.FlightLeader?.BirthNumber)">
            @if (Flight1.FlightLeader is null) { <span>TBD</span> } else { @Flight1.FlightLeader.DisplayRankName() }
        </td>
        <th class="text-end" role="@(Flight2.FlightLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight2.FlightLeader?.BirthNumber)">
            Flight Leader (@(FlightNumber+1)-1)
        </th>
        <td class="text-start" role="@(Flight2.FlightLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight2.FlightLeader?.BirthNumber)">
            @if (Flight2.FlightLeader is null) { <span>TBD</span> } else { @Flight2.FlightLeader.DisplayRankName() }
        </td>
    </tr>
    <tr>
        <th class="text-end" role="@(Flight1.SectionLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight1.SectionLeader?.BirthNumber)">
            Section Leader (@(FlightNumber)-2)
        </th>
        <td class="text-start" role="@(Flight1.SectionLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight1.SectionLeader?.BirthNumber)">
            @if (Flight1.SectionLeader is null) { <span>TBD</span> } else { @Flight1.SectionLeader.DisplayRankName() }
        </td>
        <th class="text-end" role="@(Flight2.SectionLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight2.SectionLeader?.BirthNumber)">
            Section Leader (@(FlightNumber+1)-2)
        </th>
        <td class="text-start" role="@(Flight2.SectionLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight2.SectionLeader?.BirthNumber)">
            @if (Flight2.SectionLeader is null) { <span>TBD</span> } else { @Flight2.SectionLeader.DisplayRankName() }
        </td>
    </tr>
    <tr>
        <th class="text-end" role="@(Flight1.Charlie is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight1.Charlie?.BirthNumber)">
            Pilot (@(FlightNumber)-3)
        </th>
        <td class="text-start" role="@(Flight1.Charlie is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight1.Charlie?.BirthNumber)">
            @if (Flight1.Charlie is null) { <span>TBD</span> } else { @Flight1.Charlie.DisplayRankName() }
        </td>
        <th class="text-end" role="@(Flight2.Charlie is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight2.Charlie?.BirthNumber)">
            Pilot (@(FlightNumber+1)-3)
        </th>
        <td class="text-start" role="@(Flight2.Charlie is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight2.Charlie?.BirthNumber)">
            @if (Flight2.Charlie is null) { <span>TBD</span> } else { @Flight2.Charlie.DisplayRankName() }
        </td>
    </tr>
    <tr>
        <th class="text-end" role="@(Flight1.Delta is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight1.Delta?.BirthNumber)">
            Pilot (@(FlightNumber)-4)
        </th>
        <td class="text-start" role="@(Flight1.Delta is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight1.Delta?.BirthNumber)">
            @if (Flight1.Delta is null) { <span>TBD</span> } else { @Flight1.Delta.DisplayRankName() }
        </td>
        <th class="text-end" role="@(Flight2.Delta is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight2.Delta?.BirthNumber)">
            Pilot (@(FlightNumber+1)-4)
        </th>
        <td class="text-start" role="@(Flight2.Delta is null ? "" : "button")" @onclick="(x) => TrooperNav(Flight2.Delta?.BirthNumber)">
            @if (Flight2.Delta is null) { <span>TBD</span> } else { @Flight2.Delta.DisplayRankName() }
        </td>
    </tr>
    @for(int i = 0; i < Flight1.Echo.Count || i < Flight2.Echo.Count; i++)
    {
        Trooper Echo1 = Flight1.Echo.ElementAtOrDefault(i);
        Trooper Echo2 = Flight2.Echo.ElementAtOrDefault(i);
        <tr>
            <th class="text-end" role="@(Echo1 is null ? "" : "button")" @onclick="(x) => TrooperNav(Echo1?.BirthNumber)">
                Pilot (@(FlightNumber)-@(4+i))
            </th>
            <td class="text-start" role="@(Echo1 is null ? "" : "button")" @onclick="(x) => TrooperNav(Echo1?.BirthNumber)">
                @if (Echo1 is null) { <span>TBD</span> } else { @Echo1.DisplayRankName() }
            </td>
            <th class="text-end" role="@(Echo2 is null ? "" : "button")" @onclick="(x) => TrooperNav(Echo2?.BirthNumber)">
                Pilot (@(FlightNumber+1)-@(4+i))
            </th>
            <td class="text-start" role="@(Echo2 is null ? "" : "button")" @onclick="(x) => TrooperNav(Echo2?.BirthNumber)">
                @if (Echo2 is null) { <span>TBD</span> } else { @Echo2.DisplayRankName() }
            </td>
        </tr>
    }
</tbody>

@code {
    [Parameter]
    [EditorRequired]
    public RazorFlightData Flight1 { get; set; }
    [Parameter]
    [EditorRequired]
    public RazorFlightData Flight2 { get; set; }
    [Parameter]
    [EditorRequired]
    public int FlightNumber { get; set; }
}
