@inherits RosterModel

<thead class="table-primary text-center">
    <tr>
        <th colspan="4">
            @SectionNumber.AsOrdinal() Section, Razor @FlightNumber-@SectionNumber
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Section.Alpha is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Alpha?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Pilot (@($"{SectionNumber}A"))
        </th>
        <td class="text-start" colspan="2">
            @if (Section.Alpha is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Alpha.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Section.Bravo is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Bravo?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Pilot (@($"{SectionNumber}B"))
        </th>
        <td class="text-start" colspan="2">
            @if (Section.Bravo is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Bravo.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Section.Charlie is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Charlie?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Pilot (@($"{SectionNumber}C"))
        </th>
        <td class="text-start" colspan="2">
            @if (Section.Charlie is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Charlie.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Section.Delta is null ? "" : "button")" @onclick="(x) => TrooperNav(Section.Delta?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Pilot (@($"{SectionNumber}D"))
        </th>
        <td class="text-start" colspan="2">
            @if (Section.Delta is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Section.Delta.DisplayRankName()                
            }
        </td>
    </tr>
</tbody>

@code {
    [Parameter]
    public RazorSectionData Section {get;set;}
    [Parameter]
    public int FlightNumber {get;set;}
    [Parameter]
    public int SectionNumber {get;set;}
}
