@inherits RosterModel

<thead class="bg-primary text-light text-center">
    <tr>
        <th colspan="4">
            501st Legion, Razor Squadron
        </th>
    </tr>
    <tr>
        <th colspan="4">
            Squadron Headquarters
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Razor.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Razor.Commander?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Wing Commander (6)
        </th>
        <td class="text-start" colspan="2">
            @if (Razor.Commander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Razor.Commander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Razor.SubCommander is null ? "" : "button")" @onclick="(x) => TrooperNav(Razor.SubCommander?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Wing Sub-Commander (5)
        </th>
        <td class="text-start" colspan="2">
            @if (Razor.SubCommander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Razor.SubCommander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Razor.COO is null ? "" : "button")" @onclick="(x) => TrooperNav(Razor.COO?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Wing Chief Operations Officer (7)
        </th>
        <td class="text-start" colspan="2">
            @if (Razor.COO is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Razor.COO.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Razor.CLO is null ? "" : "button")" @onclick="(x) => TrooperNav(Razor.CLO?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Wing Chief Logistics Officer (8)
        </th>
        <td class="text-start" colspan="2">
            @if (Razor.CLO is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Razor.CLO.DisplayRankName()
            }
        </td>
    </tr>
</tbody>

@for(int i = 0; i < Razor.Squadrons.Length; i++)
{
    <RazorSquadronDisplay Squadron="Razor.Squadrons[i]" Name="@Names[i]" />
}

<WardenDisplay Warden="Razor.WardenData" />

@code {
    private string[] Names = new string[] { "Broadside", "Zillo" };

    [Parameter]
    public RazorWingData Razor { get; set; }
}
