@inherits RosterModel

<thead class="bg-primary text-light text-center">
    <tr>
        <th colspan="4">
            501st Legion, Razor Squadron
        </th>
    </tr>
    <tr>
        <th colspan="4">
            Squadron Headquarters
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Razor.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Razor.Commander?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Squadron Commander
        </th>
        <td class="text-start" colspan="2">
            @if (Razor.Commander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Razor.Commander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Razor.SubCommander is null ? "" : "button")" @onclick="(x) => TrooperNav(Razor.SubCommander?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Squadron Sub-Commander
        </th>
        <td class="text-start" colspan="2">
            @if (Razor.SubCommander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Razor.SubCommander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Razor.FOIC is null ? "" : "button")" @onclick="(x) => TrooperNav(Razor.FOIC?.BirthNumber)">
        <th scope="row" class="text-end" colspan="2">
            Squadron FOIC
        </th>
        <td class="text-start" colspan="2">
            @if (Razor.FOIC is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Razor.FOIC.DisplayRankName()                
            }
        </td>
    </tr>
</tbody>

@for(int i = 0; i < Razor.Flights.Length; i++)
{
    <RazorFlightDisplay Flight="Razor.Flights[i]" FlightNumber="i + 1" />
}

<WardenDisplay Warden="Razor.Warden" />

@code {
    [Parameter]
    public RazorSquadronData Razor { get; set; }
}
