@inherits RosterModel

<tbody>
    <tr class="table-dark text-light text-center">
        <th colspan="4">
            @Number.AsOrdinal() Squad
        </th>
    </tr>
    <tr class="table-warning" role="@(Squad.Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Lead?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Squad Leader
        </th>
        <td colspan="2" class="text-start">
            @(Squad.Lead?.WarrantRank is null ? Squad.Lead?.Rank?.AsFull() + " " ?? "" : Squad.Lead?.WarrantRank?.AsFull() + " " ?? "")@(Squad.Lead?.NickName ?? "TBD")
        </td>
    </tr>
    <tr class="table-warning" role="@(Squad.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.RT?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Squad RT
        </th>
        <td colspan="2" class="text-start">
            @(Squad.RT?.WarrantRank is null ? Squad.RT?.Rank?.AsFull() + " " ?? "" : Squad.RT?.WarrantRank?.AsFull() + " " ?? "")@(Squad.RT?.NickName ?? "TBD")
        </td>
    </tr>

    <tr>
        <th scope="row" class="table-danger text-end mx-auto" role="@(Squad.Teams[0].Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Teams[0].Lead?.Id)">
            Alpha Team Leader
        </th>
        <td class="table-danger text-start mx-auto" role="@(Squad.Teams[0].Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Teams[0].Lead?.Id)">
            @(Squad.Teams[0].Lead?.WarrantRank is null ? Squad.Teams[0].Lead?.Rank?.AsFull() + " " ?? "" : Squad.Teams[0].Lead?.WarrantRank?.AsFull() + " " ?? "")@(Squad.Teams[0].Lead?.NickName ?? "TBD") 
        </td>
        <th scope="row" class="table-primary text-end mx-auto" role="@(Squad.Teams[1].Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Teams[1].Lead?.Id)">
            Bravo Team Leader
        </th>
        <td class="table-primary text-start mx-auto" role="@(Squad.Teams[1].Lead is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Teams[1].Lead?.Id)">
            @(Squad.Teams[1].Lead?.WarrantRank is null ? Squad.Teams[1].Lead?.Rank?.AsFull() + " " ?? "" : Squad.Teams[1].Lead?.WarrantRank?.AsFull() + " " ?? "")@(Squad.Teams[1].Lead?.NickName ?? "TBD") 
        </td>
    </tr>
    <tr>
        <th scope="row" class="table-danger text-end" role="@(AT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT1?.Id)">
            Alpha Trooper 
        </th>
        <td class="table-danger text-start" role="@(AT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT1?.Id)">
            @(AT1?.WarrantRank is null ? AT1?.Rank?.AsFull() + " " ?? "" : AT1?.WarrantRank?.AsFull() + " " ?? "")@(AT1?.NickName ?? "TBD") 
        </td>
        <th scope="row" class="table-primary text-end" role="@(BT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT1?.Id)">
            Bravo Trooper
        </th>
        <td class="table-primary text-start" role="@(BT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT1?.Id)">
            @(BT1?.WarrantRank is null ? BT1?.Rank?.AsFull() + " " ?? "" : BT1?.WarrantRank?.AsFull() + " " ?? "")@(BT1?.NickName ?? "TBD") 
        </td>
    </tr>

    <tr>
        <th scope="row" class="table-danger text-end" role="@(AT2 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT2?.Id)">
            Alpha Trooper 
        </th>
        <td class="table-danger text-start" role="@(AT2 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT2?.Id)">
            @(AT2?.WarrantRank is null ? AT2?.Rank?.AsFull() + " " ?? "" : AT2?.WarrantRank?.AsFull() + " " ?? "")@(AT2?.NickName ?? "TBD") 
        </td>
        <th scope="row" class="table-primary text-end" role="@(BT2 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT2?.Id)">
            Bravo Trooper
        </th>
        <td class="table-primary text-start" role="@(BT2 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT2?.Id)">
            @(BT2?.WarrantRank is null ? BT2?.Rank?.AsFull() + " " ?? "" : BT2?.WarrantRank?.AsFull() + " " ?? "")@(BT2?.NickName ?? "TBD") 
        </td>
    </tr>

    @if(Airborne)
    {
        <tr>
            <th scope="row" class="table-danger text-end">
                
            </th>
            <td class="table-danger text-start">
                
            </td>
            <th scope="row" class="table-primary text-end" role="@(ABT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(ABT1?.Id)">
                Bravo Trooper
            </th>
            <td class="table-primary text-start" role="@(ABT1 is null ? "" : "button")" @onclick="(x) => TrooperNav(ABT1?.Id)">
                @(ABT1?.WarrantRank is null ? ABT1?.Rank?.AsFull() + " " ?? "" : ABT1?.WarrantRank?.AsFull() + " " ?? "")@(ABT1?.NickName ?? "TBD") 
            </td>
        </tr>
    }

    @for(int i = 0; i < AAdditional.Count && i < BAdditional.Count; i++)
    {
        Trooper AT3 = null;
        if (AAdditional.Count < i)
        {
            AT3 = AAdditional[i];
        }

        Trooper BT3 = null;
        if (BAdditional.Count < i)
        {
            BT3 = BAdditional[i];
        }

        <tr>
            <th scope="row" class="table-danger text-end" role="@(AT3 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT3?.Id)">
                Alpha Trooper 
            </th>
            <td class="table-danger text-start" role="@(AT3 is null ? "" : "button")" @onclick="(x) => TrooperNav(AT3?.Id)">
                @(AT3?.WarrantRank is null ? AT3?.Rank?.AsFull() + " " ?? "" : AT3?.WarrantRank?.AsFull() + " " ?? "")@(AT3?.NickName ?? "TBD") 
            </td>
            <th scope="row" class="table-primary text-end" role="@(BT3 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT3?.Id)">
                Bravo Trooper
            </th>
            <td class="table-primary text-start" role="@(BT3 is null ? "" : "button")" @onclick="(x) => TrooperNav(BT3?.Id)">
                @(BT3?.WarrantRank is null ? BT3?.Rank?.AsFull() + " " ?? "" : BT3?.WarrantRank?.AsFull() + " " ?? "")@(BT3?.NickName ?? "TBD") 
            </td>
        </tr>
    }

    <tr>
        <th scope="row" class="table-danger text-end" role="@(Squad.Teams[0].Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Teams[0].Medic?.Id)">
            Alpha Medic 
        </th>
        <td class="table-danger text-start" role="@(Squad.Teams[0].Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Teams[0].Medic?.Id)">
            @(Squad.Teams[0].Medic?.WarrantRank is null ? Squad.Teams[0].Medic?.Rank?.AsFull() + " " ?? "" : Squad.Teams[0].Medic?.WarrantRank?.AsFull() + " " ?? "")@(Squad.Teams[0].Medic?.NickName ?? "TBD") 
        </td>
        <th scope="row" class="table-primary text-end" role="@(Squad.Teams[1].Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Teams[1].Medic?.Id)">
            Bravo Medic
        </th>
        <td class="table-primary text-start" role="@(Squad.Teams[1].Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Teams[1].Medic?.Id)">
            @(Squad.Teams[1].Medic?.WarrantRank is null ? Squad.Teams[1].Medic?.Rank?.AsFull() + " " ?? "" : Squad.Teams[1].Medic?.WarrantRank?.AsFull() + " " ?? "")@(Squad.Teams[1].Medic?.NickName ?? "TBD") 
        </td>
    </tr>
    @if (!Airborne)
    {
        <tr class="table-warning" role="@(Squad.ARC is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.ARC?.Id)">
            <th scope="row" colspan="2" class="text-end">
                Squad ARC
            </th>
            <td colspan="2" class="text-start">
                @(Squad.ARC?.WarrantRank is null ? Squad.ARC?.Rank?.AsFull() + " " ?? "" : Squad.ARC?.WarrantRank?.AsFull() + " " ?? "")@(Squad.ARC?.NickName ?? "TBD")
            </td>
        </tr>
    }
</tbody>

@code {
    [Parameter]
    public SquadData Squad { get; set; }
    [Parameter]
    public int Number { get; set; }
    [CascadingParameter(Name = "CompanyName")]
    public string CompanyName { get; set; }
    [CascadingParameter(Name = "PlatoonNumber")]
    public int PlatoonNumber { get; set; }
    [CascadingParameter(Name = "Airborne")]
    public bool Airborne { get; set; }

    private Trooper? AT1 { get; set; } = null;
    private Trooper? AT2 { get; set; } = null;
    private List<Trooper> AAdditional { get; set; } = new();

    private Trooper? BT1 { get; set; } = null;
    private Trooper? BT2 { get; set; } = null;
    private Trooper? ABT1 { get; set; } = null;
    private List<Trooper> BAdditional { get; set; } = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        int c = 0;
        foreach(var t in Squad.Teams[0].Troopers)
        {
            if (c == 0)
                AT1 = t;
            else if (c == 1)
                AT2 = t;
            else
                AAdditional.Add(t);

            c++;
        }

        c = 0;
        foreach(var t in Squad.Teams[1].Troopers)
        {
            if (c == 0)
                BT1 = t;
            else if (c == 1)
                BT2 = t;
            else if (c == 2 && Airborne)
                ABT1 = t;
            else
                BAdditional.Add(t);

            c++;
        }
    }
}
