@inherits RosterModel

<thead class="table-primary text-center">
    <tr>
        <th colspan="4">
            Deck Officer - Wardens
        </th>
    </tr>
</thead>
<tbody>
<tr role="@(Warden.Master is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Master?.Id)">
    <th scope="row" colspan="2" class="text-end">
        Master Warden
    </th>
    <td scope="row" colspan="2">
        @(Warden.Master?.DisplayRankName() ?? "TBD")
    </td>
</tr>
<tr role="@(Warden.Chief is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Chief?.Id)">
    <th scope="row" colspan="2" class="text-end">
        Chief Warden
    </th>
    <td scope="row" colspan="2">
        @(Warden.Chief?.DisplayRankName() ?? "TBD")
    </td>
</tr>

@for(int i = 0; i < Warden.Wardens.Length; i++)
{
    var c = i + 1;
    var n = i;
    <tr role="@(Warden.Wardens[n].SectionLead is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Wardens[n].SectionLead?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Section Lead (@c-1)
        </th>
        <td scope="row" colspan="2">
            @(Warden.Wardens[i].SectionLead?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Warden.Wardens[n].WardenTwo is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Wardens[n].WardenTwo?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Warden @c-2
        </th>
        <td scope="row" colspan="2">
            @(Warden.Wardens[i].WardenTwo?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
    <tr role="@(Warden.Wardens[n].WardenThree is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Wardens[n].WardenThree?.Id)">
        <th scope="row" colspan="2" class="text-end">
            Warden @c-3
        </th>
        <td scope="row" colspan="2">
            @(Warden.Wardens[i].WardenThree?.DisplayRankName() ?? "TBD")
        </td>
    </tr>
}

</tbody>

@code {
    [Parameter]
    public WardenData Warden {get;set;}
}
