@inherits RosterModel

<thead class="table-primary text-center">
    <tr>
        <th colspan="4">
            Deck Officer - Wardens
        </th>
    </tr>
</thead>
<tbody>
<tr role="@(Warden.Master is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Master?.BirthNumber)">
    <th scope="row" colspan="2" class="text-end">
        Master Warden
    </th>
    <td scope="row" colspan="2">
        @if (Warden.Master is null)
        {
            <span>TBD</span>
        }
        else
        {
            @Warden.Master.DisplayRankName()                
        }
    </td>
</tr>
<tr role="@(Warden.Chief is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Chief?.BirthNumber)">
    <th scope="row" colspan="2" class="text-end">
        Chief Warden
    </th>
    <td scope="row" colspan="2">
        @if (Warden.Chief is null)
        {
            <span>TBD</span>
        }
        else
        {
            @Warden.Chief.DisplayRankName()                
        }
    </td>
</tr>

@for(int i = 0; i < Warden.Wardens.Length; i++)
{
    var c = i + 1;
    var n = i;
    <tr role="@(Warden.Wardens[n].SectionLead is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Wardens[n].SectionLead?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Section Lead (@c-1)
        </th>
        <td scope="row" colspan="2">
            @if (Warden.Wardens[i].SectionLead is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Warden.Wardens[i].SectionLead.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Warden.Wardens[n].WardenTwo is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Wardens[n].WardenTwo?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Warden @c-2
        </th>
        <td scope="row" colspan="2">
            @if (Warden.Wardens[i].WardenTwo is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Warden.Wardens[i].WardenTwo.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Warden.Wardens[n].WardenThree is null ? "" : "button")" @onclick="(x) => TrooperNav(Warden.Wardens[n].WardenThree?.BirthNumber)">
        <th scope="row" colspan="2" class="text-end">
            Warden @c-3
        </th>
        <td scope="row" colspan="2">
            @if (Warden.Wardens[i].WardenThree is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Warden.Wardens[i].WardenThree.DisplayRankName()                
            }
        </td>
    </tr>
}

</tbody>

@code {
    [Parameter]
    public WardenData Warden {get;set;}
}
